<div class="c-about-1">
	<div class="wrap js2-center-wrap wrap-1280">
		<div class="picture">
			<img src="${require('./about-1.png')}">
		</div>
		<div class="title">
			<div class="cn">关于我们</div>
			<div class="en">about us</div>
		</div>
		<div class="content">
			<p>深圳XXXX管理有限公司（简称：XXXX，公司资质信息：登记编号（P8888888），公司于2015年08月13日在深圳市市场监督管理局注册成立。</p>
			<p>公司主要投资股票二级市场、期权、期货交易、投资管理等相关业务。 公司专注于投资股票二级市场,秉持“专一、专心、专业、专注”的匠人精神，做熟悉的事擅长的事，长期专注专研来规避投资市场上已知的投资风险，以资产增值为目的。</p>
			<p>立志打造成为一家私人银行管理公司，建立自己的运营机制，公司管理严格细致，投资决策高效，根据客户不同的收益预期、风险偏好和资产配置需求等，结合自身投资团队的能力提升，不断探索、创新，延展公司产品线，帮助客户投资合适的产品，实现财富增值。成为大众所望的财富创造者。</p>
		</div>
	</div>
</div>