.c-about-1 {
	box-sizing: border-box;
	padding-left: 2em;
	padding-right: 2em;

	.wrap {
		position: relative;
	}

	.picture {
		width: 60%;
	}

	.title {
		position: absolute;
		z-index: 10;
		right: 0;
		top: 0;
		text-align: right;
		color: var(--font-second);

		.cn {
			font-size: 2.25em;
			font-weight: bold;
		}

		.en {
			text-transform: uppercase;
			font-size: 1.25em;
			line-height: 2;
		}
	}

	.content {
		width: 60%;
		position: absolute;
		z-index: 10;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		background-color: rgba(41, 59, 79, .9);
		color: #FFF;
		padding: 2vw 3em;
		box-sizing: border-box;

		p {
			text-indent: 2em;
		}
	}
}