<div class="c-login-register-form-3">
	<div class="form">
		<div class="item">
			<div class="input-title"><i class="dashicons dashicons-admin-users"></i></div>
			<input class="input-username" type="text" placeholder="请输入用户名" />
		</div class="item">
		<div class="item">
			<div class="input-title"><i class="dashicons dashicons-lock"></i></div>
			<input class="input-password" type="password" placeholder="请输入密码" />
		</div class="item">
		<div class="action">
			<button class="btn-submit">登录</button>
		</div>
		<div class="bottom">
			<a href="#">注册账号</a>
			<a href="#">忘记账号</a>
		</div>
	</div>
</div>