<div class="c-istop-1">
	<div class="js2-flex justify-between">
		<div class="js2-column-8 js2-padding-left-m">
			<a href="#">
				<img src="${require('@/images/image-placeholder.jpg')}" />
			</a>
		</div>
		<div class="js2-column-8 js2-padding-left-m">
			<a href="#">
				<img src="${require('@/images/image-placeholder.jpg')}" />
			</a>
		</div>
		<div class="js2-column-8 js2-padding-left-m">
			<a href="#">
				<img src="${require('@/images/image-placeholder.jpg')}" />
			</a>
		</div>
	</div>
	<div class="js2-flex justify-between js2-margin-top-m">
		<div class="js2-column-8 js2-padding-left-m">
			<a href="#">
				<img src="${require('@/images/image-placeholder.jpg')}" />
			</a>
		</div>
		<div class="js2-column-8 js2-padding-left-m">
			<a href="#">
				<img src="${require('@/images/image-placeholder.jpg')}" />
			</a>
		</div>
		<div class="js2-column-8 js2-padding-left-m">
			<a href="#">
				<img src="${require('@/images/image-placeholder.jpg')}" />
			</a>
		</div>
	</div>
</div>