<!DOCTYPE html>
<html lang="zh-cmn-Hans-CN">

<head>
	<meta charset="utf-8" />
	<title>{$title?$title:$setting['site_title']} - {$setting['site_name']}</title>
	<meta content="{$keywords?$keywords:$setting['site_keywords']}" name="keywords" />
	<meta content="{$description?$description:$setting['site_description']}" name="description" />
	<meta content="webkit" name="renderer" />
	<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
	<meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport" />
	<link href="/favicon.png" rel="icon" type="image/png" />
	<link rel="stylesheet/less" href="__style__/style.less">
	<script src="__static__/library/less-v3.11.1.min.js"></script>
	<!-- 轮播图 -->
	<!-- <script src="__static__/library/swiper-bundle.min.js"></script> -->
	<!-- <link rel="stylesheet" href="__static__/library/swiper-bundle.min.css"> -->
	<!-- 二维码生成器 -->
	<script src="__static__/library/qrcode.min.js"></script>
	<!-- 代码高亮 -->
	<script src="__static__/library/prism.js"></script>
	<link rel="stylesheet" href="__static__/library/prism.css">
	<!-- 轻提示 -->
	<script src="__static__/library/toastify.js"></script>
	<link rel="stylesheet" href="__static__/library/toastify.css">
	<!-- wordpress字体图标 -->
	<link rel="stylesheet" href="__static__/library/dashicons.css">
	<!-- 图片裁剪 -->
	<script src="__static__/library/jcrop.js"></script>
	<link rel="stylesheet" href="__static__/library/jcrop.css">
</head>

<body class="{$controller_action}">
	<div class="js2-center-wrap w1920">
		<div class="c-menu">
			<span class="close-btn close dashicons dashicons-no-alt"></span>
			<span class="menu-btn dashicons dashicons-menu-alt"></span>
			<ul class="menu-list">
				<li>
					<a href="/">首页</a>
				</li>
				{foreach $menu_list[0]['list'] as $parent}
				<li>
					<a href="{$parent.link}" target="{$parent['type']=='custom'?'_blank':'_self'}">
						{$parent['label']}
					</a>
					{if count($parent['children'])}
					<ul class="sub-menu">
						{foreach $parent.children as $child}
						<li>
							<a href="{$child.link}" target="{$child['type']=='custom'?'_blank':'_self'}">
								{$child['label']}
							</a>
						</li>
						{/foreach}
					</ul>
					{/if}
				</li>
				{/foreach}
			</ul>
		</div>
		<header class="c-top">
			<div class="top-user">
				<div class="container js2-center-wrap w828">
					{if($user)}
					<a class="item" href="/user.html">{$user['nickname']}</a>
					<a class="item" href="/login.html?action=logout">退出登录</a>
					{else}
					<a class="item" href="/register.html">注册</a>
					<a class="item" href="/login.html">登录</a>
					{/if}
				</div>
			</div>
			<div class="top-logo container js2-center-wrap w828">
				<div class="logo">
					<a class="link" href="/">
						<img src="{$setting.logo}" />
					</a>
					<div class="blog-title">
						<div class="blog-name"><a href="/">{$setting.site_name}</a></div>
						<div class="blog-description">{$setting.site_description}</div>
					</div>
				</div>
				<form class="search-form" action="/search">
					<input type="text" name="keywords" placeholder="输入关键词后回车搜索" autocomplete="off">
				</form>
			</div>
		</header>
		<main>{__CONTENT__}</main>
		<footer>
			<div class="container js2-center-wrap w828">
				<div class="links">
					<h4>友情链接：</h4>
					<ul>
						{foreach $links as $link}
						<li><a target="_blank" href="{$link['link']}">{$link['name']}</a></li>
						{/foreach}
					</ul>
				</div>
				<div class="copyright">
					Copyright ©
					{:date('Y')}
					版权所有
					<a href="http://beian.miit.gov.cn/" target="_blank">{$setting['icp']}</a>
					<a href="http://beian.miit.gov.cn/" target="_blank">{$setting['police']}</a>
					技术支持：<a href="https://github.com/mkinit/js2system/tree/master/js2api" target="_blank">js2system</a>
				</div>
			</div>
		</footer>
	</div>
	<script type="module" src="__js__/main.js"></script>
	{if !empty($setting['ba'])}
	<script>
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "https://hm.baidu.com/hm.js?{$setting['ba']}";
			var s = document.getElementsByTagName("script")[0]; 
			s.parentNode.insertBefore(hm, s);
		})();
	</script>
	{/if}
</body>

</html>