<div class="c-sidebar-tool-1">
	<div class="item stretch">
		<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=124711255&site=qq&menu=yes">
			<img class="icon" src="${require('@/images/icon/icon-cs.png')}" />
			<span class="text">QQ在线咨询</span>
		</a>
	</div>
	<div class="item stretch">
		<a href="tel:020-88888888">
			<img class="icon" src="${require('@/images/icon/icon-phone.png')}" />
			<span class="text">020-88888888</span>
		</a>
	</div>
	<div class="item show-img">
		<img class="icon" src="${require('@/images/icon/icon-wechat.png')}" />
		<div class="img-box">
			<span class="text">微信联系</span>
			<img src="${require('@/images/wechat.jpg')}" />
		</div>
	</div>
	<div class="item show-img">
		<img class="icon" src="${require('@/images/icon/icon-qrcode.png')}" />
		<div class="site-qrcode img-box">
			<img src="${require('@/images/wechat.jpg')}" />
			<span class="text">移动端浏览</span>
		</div>
	</div>
	<div class="item" onclick="body.scrollIntoView({behavior:'smooth'})"><img class="icon" src="${require('@/images/icon/icon-arrow-top.png')}" /></div>
</div>