<div class="c-menu-1">
    <nav class="wrap js2-center-wrap wrap-1280">
        <div class="logo">
            <h1><a href="/"><img src="${require('@/images/logo.png')}" alt=""></a></h1>
        </div>
        <ul class="menu-list">
            <li class="current"><a href="#">首页</a></li>
            <li><a href="#">产品中心</a></li>
            <li><a href="#">新闻中心</a></li>
            <li><a href="#">关于我们</a></li>
            <li><a href="#">联系我们</a></li>
        </ul>
    </nav>
</div>