<header>
	<div class="header2 js2-container-960">
		<h1 class="logo"><img src="${require('../../images/logo.png')}"></h1>
		<nav>
			<ul>
				<li><a href="/index.html"><i class="iconfont icon-shouye1"></i>首页</a></li>
				<li><a href="/admin/login.html"><i class="iconfont icon-wode"></i>登录页</a></li>
			</ul>
		</nav>
	</div>
</header>
<script>
	window.addEventListener('load',function(){
		console.log('这是头部组件2的js')
	})
</script>