<div class="c-menu-2">
	<div class="wrap js2-center-wrap wrap-1280">
		<div class="logo">
			<h1><a href="/"><img src="${require('@/images/logo.png')}" alt=""></a></h1>
		</div>
		<div class="menu-list">
			<ul>
				<li><a href="/">首页</a></li>
				<li><a href="#">关于我们</a></li>
				<li><a href="/products.html">产品中心</a></li>
				<li><a href="/posts.html">新闻中心</a></li>
				<li><a href="#">品牌研究</a></li>
				<li><a href="#">联系我们</a></li>
				<li><a href="#">法律声明</a></li>
			</ul>
		</div>
	</div>
</div>