<div class="c-client-1">
	<div class="js2-center-wrap wrap-1280">
		<div class="items">
			<div class="item">
				<img src="${require('@/images/demo/client-1.png')}">
			</div>
			<div class="item">
				<img src="${require('@/images/demo/client-2.png')}">
			</div>
			<div class="item">
				<img src="${require('@/images/demo/client-3.png')}">
			</div>
			<div class="item">
				<img src="${require('@/images/demo/client-4.png')}">
			</div>
			<div class="item">
				<img src="${require('@/images/demo/client-5.png')}">
			</div>
			<div class="item">
				<img src="${require('@/images/demo/client-6.png')}">
			</div>
			<div class="item">
				<img src="${require('@/images/demo/client-7.png')}">
			</div>
			<div class="item">
				<img src="${require('@/images/demo/client-8.png')}">
			</div>
			<div class="item">
				<img src="${require('@/images/demo/client-9.png')}">
			</div>
			<div class="item">
				<img src="${require('@/images/demo/client-10.png')}">
			</div>
			<div class="item">
				<img src="${require('@/images/demo/client-11.png')}">
			</div>
			<div class="item">
				<img src="${require('@/images/demo/client-12.png')}">
			</div>
		</div>
	</div>
</div>