<div class="list-item2">
	<h3><i class="icon icon-layer"></i><%= data.title %></h3>
	<div class="content">
		<%= data.content %>
	</div>
</div>
<script>
	/*function test(){//在循环中会多次执行
		console.log('这是列表项组件的js')
	}*/
	/*var test = function(){//在循环中会多次执行
		console.log('这是列表项组件的js')
	}*/

	const test = function(){
		console.log('这是列表项组件的js')
	}
	window.addEventListener('load',test)

</script>