<div class="c-sidebar-1">
	<section>
		<div class="section-title">产品中心</div>
		<ul>
			<li><a href="#">产品分类一</a></li>
			<li><a href="#">产品分类二</a></li>
			<li><a href="#">产品分类三</a></li>
		</ul>
	</section>
	<section>
		<div class="section-title">新闻中心</div>
		<ul>
			<li><a href="#">新闻分类一</a></li>
			<li><a href="#">新闻分类二</a></li>
			<li><a href="#">新闻分类三</a></li>
		</ul>
	</section>
	<section class="contact">
		<div class="section-title">联系我们</div>
		<ul>
			<li>电话：<a href="tel:020-88888888">020-88888888</a></li>
			<li>地址：广州市，番禺区，南村镇，板桥村</li>
		</ul>
	</section>
</div>