<!-- 引用公共头部 -->
<%= require('@/public/header.ejs')({htmlWebpackPlugin}) %>
<div id="iconlist">
	<h4 id="icons-admin-menu">Admin Menu</h4>
	<!-- admin menu -->
	<ul>
		<li class="dashicons dashicons-menu"></li>
		<li class="dashicons dashicons-menu-alt"></li>
		<li class="dashicons dashicons-menu-alt2"></li>
		<li class="dashicons dashicons-menu-alt3"></li>
		<li class="dashicons dashicons-admin-site"></li>
		<li class="dashicons dashicons-admin-site-alt"></li>
		<li class="dashicons dashicons-admin-site-alt2"></li>
		<li class="dashicons dashicons-admin-site-alt3"></li>
		<li class="dashicons dashicons-dashboard"></li>
		<li class="dashicons dashicons-admin-post"></li>
		<li class="dashicons dashicons-admin-media"></li>
		<li class="dashicons dashicons-admin-links"></li>
		<li class="dashicons dashicons-admin-page"></li>
		<li class="dashicons dashicons-admin-comments"></li>
		<li class="dashicons dashicons-admin-appearance"></li>
		<li class="dashicons dashicons-admin-plugins"></li>
		<li class="dashicons dashicons-plugins-checked"></li>
		<li class="dashicons dashicons-admin-users"></li>
		<li class="dashicons dashicons-admin-tools"></li>
		<li class="dashicons dashicons-admin-settings"></li>
		<li class="dashicons dashicons-admin-network"></li>
		<li class="dashicons dashicons-admin-home"></li>
		<li class="dashicons dashicons-admin-generic"></li>
		<li class="dashicons dashicons-admin-collapse"></li>
		<li class="dashicons dashicons-filter"></li>
		<li class="dashicons dashicons-admin-customizer"></li>
		<li class="dashicons dashicons-admin-multisite"></li>
	</ul>
	<h4 id="icons-welcome-screen">Welcome Screen</h4>
	<!-- welcome screen -->
	<ul>
		<li class="dashicons dashicons-welcome-write-blog"></li>
		<li class="dashicons dashicons-welcome-add-page"></li>
		<li class="dashicons dashicons-welcome-view-site"></li>
		<li class="dashicons dashicons-welcome-widgets-menus"></li>
		<li class="dashicons dashicons-welcome-comments"></li>
		<li class="dashicons dashicons-welcome-learn-more"></li>
	</ul>
	<h4 id="icons-post-formats">Post Formats</h4>
	<!-- post formats -->
	<ul>
		<li class="dashicons dashicons-format-aside"></li>
		<li class="dashicons dashicons-format-image"></li>
		<li class="dashicons dashicons-format-gallery"></li>
		<li class="dashicons dashicons-format-video"></li>
		<li class="dashicons dashicons-format-status"></li>
		<li class="dashicons dashicons-format-quote"></li>
		<li class="dashicons dashicons-format-chat"></li>
		<li class="dashicons dashicons-format-audio"></li>
		<li class="dashicons dashicons-camera"></li>
		<li class="dashicons dashicons-camera-alt"></li>
		<li class="dashicons dashicons-images-alt"></li>
		<li class="dashicons dashicons-images-alt2"></li>
		<li class="dashicons dashicons-video-alt"></li>
		<li class="dashicons dashicons-video-alt2"></li>
		<li class="dashicons dashicons-video-alt3"></li>
	</ul>
	<h4 id="icons-media">Media</h4>
	<!-- media -->
	<ul>
		<li class="dashicons dashicons-media-archive"></li>
		<li class="dashicons dashicons-media-audio"></li>
		<li class="dashicons dashicons-media-code"></li>
		<li class="dashicons dashicons-media-default"></li>
		<li class="dashicons dashicons-media-document"></li>
		<li class="dashicons dashicons-media-interactive"></li>
		<li class="dashicons dashicons-media-spreadsheet"></li>
		<li class="dashicons dashicons-media-text"></li>
		<li class="dashicons dashicons-media-video"></li>
		<li class="dashicons dashicons-playlist-audio"></li>
		<li class="dashicons dashicons-playlist-video"></li>
		<li class="dashicons dashicons-controls-play"></li>
		<li class="dashicons dashicons-controls-pause"></li>
		<li class="dashicons dashicons-controls-forward"></li>
		<li class="dashicons dashicons-controls-skipforward"></li>
		<li class="dashicons dashicons-controls-back"></li>
		<li class="dashicons dashicons-controls-skipback"></li>
		<li class="dashicons dashicons-controls-repeat"></li>
		<li class="dashicons dashicons-controls-volumeon"></li>
		<li class="dashicons dashicons-controls-volumeoff"></li>
	</ul>
	<h4 id="icons-image-editing">Image Editing</h4>
	<!-- image editing -->
	<ul>
		<li class="dashicons dashicons-image-crop"></li>
		<li class="dashicons dashicons-image-rotate"></li>
		<li class="dashicons dashicons-image-rotate-left"></li>
		<li class="dashicons dashicons-image-rotate-right"></li>
		<li class="dashicons dashicons-image-flip-vertical"></li>
		<li class="dashicons dashicons-image-flip-horizontal"></li>
		<li class="dashicons dashicons-image-filter"></li>
		<li class="dashicons dashicons-undo"></li>
		<li class="dashicons dashicons-redo"></li>
	</ul>
	<h4 id="icons-databases">Databases</h4>
	<!-- databases -->
	<ul>
		<li class="dashicons dashicons-database-add"></li>
		<li class="dashicons dashicons-database"></li>
		<li class="dashicons dashicons-database-export"></li>
		<li class="dashicons dashicons-database-import"></li>
		<li class="dashicons dashicons-database-remove"></li>
		<li class="dashicons dashicons-database-view"></li>
	</ul>
	<h4 id="icons-block-editor">Block Editor</h4>
	<!-- block editor -->
	<ul>
		<li class="dashicons dashicons-align-full-width"></li>
		<li class="dashicons dashicons-align-pull-left"></li>
		<li class="dashicons dashicons-align-pull-right"></li>
		<li class="dashicons dashicons-align-wide"></li>
		<li class="dashicons dashicons-block-default"></li>
		<li class="dashicons dashicons-button"></li>
		<li class="dashicons dashicons-cloud-saved"></li>
		<li class="dashicons dashicons-cloud-upload"></li>
		<li class="dashicons dashicons-columns"></li>
		<li class="dashicons dashicons-cover-image"></li>
		<li class="dashicons dashicons-ellipsis"></li>
		<li class="dashicons dashicons-embed-audio"></li>
		<li class="dashicons dashicons-embed-generic"></li>
		<li class="dashicons dashicons-embed-photo"></li>
		<li class="dashicons dashicons-embed-post"></li>
		<li class="dashicons dashicons-embed-video"></li>
		<li class="dashicons dashicons-exit"></li>
		<li class="dashicons dashicons-heading"></li>
		<li class="dashicons dashicons-html"></li>
		<li class="dashicons dashicons-info-outline"></li>
		<li class="dashicons dashicons-insert"></li>
		<li class="dashicons dashicons-insert-after"></li>
		<li class="dashicons dashicons-insert-before"></li>
		<li class="dashicons dashicons-remove"></li>
		<li class="dashicons dashicons-saved"></li>
		<li class="dashicons dashicons-shortcode"></li>
		<li class="dashicons dashicons-table-col-after"></li>
		<li class="dashicons dashicons-table-col-before"></li>
		<li class="dashicons dashicons-table-col-delete"></li>
		<li class="dashicons dashicons-table-row-after"></li>
		<li class="dashicons dashicons-table-row-before"></li>
		<li class="dashicons dashicons-table-row-delete"></li>
	</ul>
	<h4 id="icons-tinymce">TinyMCE</h4>
	<!-- tinymce -->
	<ul>
		<li class="dashicons dashicons-editor-bold"></li>
		<li class="dashicons dashicons-editor-italic"></li>
		<li class="dashicons dashicons-editor-ul"></li>
		<li class="dashicons dashicons-editor-ol"></li>
		<li class="dashicons dashicons-editor-ol-rtl"></li>
		<li class="dashicons dashicons-editor-quote"></li>
		<li class="dashicons dashicons-editor-alignleft"></li>
		<li class="dashicons dashicons-editor-aligncenter"></li>
		<li class="dashicons dashicons-editor-alignright"></li>
		<li class="dashicons dashicons-editor-insertmore"></li>
		<li class="dashicons dashicons-editor-spellcheck"></li>
		<li class="dashicons dashicons-editor-expand"></li>
		<li class="dashicons dashicons-editor-contract"></li>
		<li class="dashicons dashicons-editor-kitchensink"></li>
		<li class="dashicons dashicons-editor-underline"></li>
		<li class="dashicons dashicons-editor-justify"></li>
		<li class="dashicons dashicons-editor-textcolor"></li>
		<li class="dashicons dashicons-editor-paste-word"></li>
		<li class="dashicons dashicons-editor-paste-text"></li>
		<li class="dashicons dashicons-editor-removeformatting"></li>
		<li class="dashicons dashicons-editor-video"></li>
		<li class="dashicons dashicons-editor-customchar"></li>
		<li class="dashicons dashicons-editor-outdent"></li>
		<li class="dashicons dashicons-editor-indent"></li>
		<li class="dashicons dashicons-editor-help"></li>
		<li class="dashicons dashicons-editor-strikethrough"></li>
		<li class="dashicons dashicons-editor-unlink"></li>
		<li class="dashicons dashicons-editor-rtl"></li>
		<li class="dashicons dashicons-editor-ltr"></li>
		<li class="dashicons dashicons-editor-break"></li>
		<li class="dashicons dashicons-editor-code"></li>
		<li class="dashicons dashicons-editor-paragraph"></li>
		<li class="dashicons dashicons-editor-table"></li>
	</ul>
	<h4 id="icons-posts-screen">Posts Screen</h4>
	<!-- posts screen -->
	<ul>
		<li class="dashicons dashicons-align-left"></li>
		<li class="dashicons dashicons-align-right"></li>
		<li class="dashicons dashicons-align-center"></li>
		<li class="dashicons dashicons-align-none"></li>
		<li class="dashicons dashicons-lock"></li>
		<li class="dashicons dashicons-unlock"></li>
		<li class="dashicons dashicons-calendar"></li>
		<li class="dashicons dashicons-calendar-alt"></li>
		<li class="dashicons dashicons-visibility"></li>
		<li class="dashicons dashicons-hidden"></li>
		<li class="dashicons dashicons-post-status"></li>
		<li class="dashicons dashicons-edit"></li>
		<li class="dashicons dashicons-trash"></li>
		<li class="dashicons dashicons-sticky"></li>
	</ul>
	<h4 id="icons-sorting">Sorting</h4>
	<!-- sorting -->
	<ul>
		<li class="dashicons dashicons-external"></li>
		<li class="dashicons dashicons-arrow-up"></li>
		<li class="dashicons dashicons-arrow-down"></li>
		<li class="dashicons dashicons-arrow-right"></li>
		<li class="dashicons dashicons-arrow-left"></li>
		<li class="dashicons dashicons-arrow-up-alt"></li>
		<li class="dashicons dashicons-arrow-down-alt"></li>
		<li class="dashicons dashicons-arrow-right-alt"></li>
		<li class="dashicons dashicons-arrow-left-alt"></li>
		<li class="dashicons dashicons-arrow-up-alt2"></li>
		<li class="dashicons dashicons-arrow-down-alt2"></li>
		<li class="dashicons dashicons-arrow-right-alt2"></li>
		<li class="dashicons dashicons-arrow-left-alt2"></li>
		<li class="dashicons dashicons-sort"></li>
		<li class="dashicons dashicons-leftright"></li>
		<li class="dashicons dashicons-randomize"></li>
		<li class="dashicons dashicons-list-view"></li>
		<li class="dashicons dashicons-excerpt-view"></li>
		<li class="dashicons dashicons-grid-view"></li>
		<li class="dashicons dashicons-move"></li>
	</ul>
	<h4 id="icons-social">Social</h4>
	<!-- social -->
	<ul>
		<li class="dashicons dashicons-share"></li>
		<li class="dashicons dashicons-share-alt"></li>
		<li class="dashicons dashicons-share-alt2"></li>
		<li class="dashicons dashicons-rss"></li>
		<li class="dashicons dashicons-email"></li>
		<li class="dashicons dashicons-email-alt"></li>
		<li class="dashicons dashicons-email-alt2"></li>
		<li class="dashicons dashicons-networking"></li>
		<li class="dashicons dashicons-amazon"></li>
		<li class="dashicons dashicons-facebook"></li>
		<li class="dashicons dashicons-facebook-alt"></li>
		<li class="dashicons dashicons-google"></li>
		<li class="dashicons dashicons-instagram"></li>
		<li class="dashicons dashicons-linkedin"></li>
		<li class="dashicons dashicons-pinterest"></li>
		<li class="dashicons dashicons-podio"></li>
		<li class="dashicons dashicons-reddit"></li>
		<li class="dashicons dashicons-spotify"></li>
		<li class="dashicons dashicons-twitch"></li>
		<li class="dashicons dashicons-twitter"></li>
		<li class="dashicons dashicons-twitter-alt"></li>
		<li class="dashicons dashicons-whatsapp"></li>
		<li class="dashicons dashicons-xing"></li>
		<li class="dashicons dashicons-youtube"></li>
	</ul>
	<h4 id="icons-wordpress-org">WordPress.org</h4>
	<!-- WordPress.org -->
	<ul>
		<li class="dashicons dashicons-hammer"></li>
		<li class="dashicons dashicons-art"></li>
		<li class="dashicons dashicons-migrate"></li>
		<li class="dashicons dashicons-performance"></li>
		<li class="dashicons dashicons-universal-access"></li>
		<li class="dashicons dashicons-universal-access-alt"></li>
		<li class="dashicons dashicons-tickets"></li>
		<li class="dashicons dashicons-nametag"></li>
		<li class="dashicons dashicons-clipboard"></li>
		<li class="dashicons dashicons-heart"></li>
		<li class="dashicons dashicons-megaphone"></li>
		<li class="dashicons dashicons-schedule"></li>
		<li class="dashicons dashicons-tide"></li>
		<li class="dashicons dashicons-rest-api"></li>
		<li class="dashicons dashicons-code-standards"></li>
	</ul>
	<h4 id="icons-buddicons">Buddicons</h4>
	<!-- buddicons -->
	<ul>
		<li class="dashicons dashicons-buddicons-activity"></li>
		<li class="dashicons dashicons-buddicons-bbpress-logo"></li>
		<li class="dashicons dashicons-buddicons-buddypress-logo"></li>
		<li class="dashicons dashicons-buddicons-community"></li>
		<li class="dashicons dashicons-buddicons-forums"></li>
		<li class="dashicons dashicons-buddicons-friends"></li>
		<li class="dashicons dashicons-buddicons-groups"></li>
		<li class="dashicons dashicons-buddicons-pm"></li>
		<li class="dashicons dashicons-buddicons-replies"></li>
		<li class="dashicons dashicons-buddicons-topics"></li>
		<li class="dashicons dashicons-buddicons-tracking"></li>
	</ul>
	<h4 id="icons-products">Products</h4>
	<!-- products -->
	<ul>
		<li class="dashicons dashicons-wordpress"></li>
		<li class="dashicons dashicons-wordpress-alt"></li>
		<li class="dashicons dashicons-pressthis"></li>
		<li class="dashicons dashicons-update"></li>
		<li class="dashicons dashicons-update-alt"></li>
		<li class="dashicons dashicons-screenoptions"></li>
		<li class="dashicons dashicons-info"></li>
		<li class="dashicons dashicons-cart"></li>
		<li class="dashicons dashicons-feedback"></li>
		<li class="dashicons dashicons-cloud"></li>
		<li class="dashicons dashicons-translation"></li>
	</ul>
	<h4 id="icons-taxonomies">Taxonomies</h4>
	<!-- taxonomies -->
	<ul>
		<li class="dashicons dashicons-tag"></li>
		<li class="dashicons dashicons-category"></li>
	</ul>
	<h4 id="icons-widgets">Widgets</h4>
	<!-- widgets -->
	<ul>
		<li class="dashicons dashicons-archive"></li>
		<li class="dashicons dashicons-tagcloud"></li>
		<li class="dashicons dashicons-text"></li>
	</ul>
	<h4 id="icons-notifications">Notifications</h4>
	<!-- notifications -->
	<ul>
		<li class="dashicons dashicons-bell"></li>
		<li class="dashicons dashicons-yes"></li>
		<li class="dashicons dashicons-yes-alt"></li>
		<li class="dashicons dashicons-no"></li>
		<li class="dashicons dashicons-no-alt"></li>
		<li class="dashicons dashicons-plus"></li>
		<li class="dashicons dashicons-plus-alt"></li>
		<li class="dashicons dashicons-plus-alt2"></li>
		<li class="dashicons dashicons-minus"></li>
		<li class="dashicons dashicons-dismiss"></li>
		<li class="dashicons dashicons-marker"></li>
		<li class="dashicons dashicons-star-filled"></li>
		<li class="dashicons dashicons-star-half"></li>
		<li class="dashicons dashicons-star-empty"></li>
		<li class="dashicons dashicons-flag"></li>
		<li class="dashicons dashicons-warning"></li>
	</ul>
	<h4 id="icons-miscellaneous">Miscellaneous</h4>
	<!-- miscellaneous -->
	<ul>
		<li class="dashicons dashicons-location"></li>
		<li class="dashicons dashicons-location-alt"></li>
		<li class="dashicons dashicons-vault"></li>
		<li class="dashicons dashicons-shield"></li>
		<li class="dashicons dashicons-shield-alt"></li>
		<li class="dashicons dashicons-sos"></li>
		<li class="dashicons dashicons-search"></li>
		<li class="dashicons dashicons-slides"></li>
		<li class="dashicons dashicons-text-page"></li>
		<li class="dashicons dashicons-analytics"></li>
		<li class="dashicons dashicons-chart-pie"></li>
		<li class="dashicons dashicons-chart-bar"></li>
		<li class="dashicons dashicons-chart-line"></li>
		<li class="dashicons dashicons-chart-area"></li>
		<li class="dashicons dashicons-groups"></li>
		<li class="dashicons dashicons-businessman"></li>
		<li class="dashicons dashicons-businesswoman"></li>
		<li class="dashicons dashicons-businessperson"></li>
		<li class="dashicons dashicons-id"></li>
		<li class="dashicons dashicons-id-alt"></li>
		<li class="dashicons dashicons-products"></li>
		<li class="dashicons dashicons-awards"></li>
		<li class="dashicons dashicons-forms"></li>
		<li class="dashicons dashicons-testimonial"></li>
		<li class="dashicons dashicons-portfolio"></li>
		<li class="dashicons dashicons-book"></li>
		<li class="dashicons dashicons-book-alt"></li>
		<li class="dashicons dashicons-download"></li>
		<li class="dashicons dashicons-upload"></li>
		<li class="dashicons dashicons-backup"></li>
		<li class="dashicons dashicons-clock"></li>
		<li class="dashicons dashicons-lightbulb"></li>
		<li class="dashicons dashicons-microphone"></li>
		<li class="dashicons dashicons-desktop"></li>
		<li class="dashicons dashicons-laptop"></li>
		<li class="dashicons dashicons-tablet"></li>
		<li class="dashicons dashicons-smartphone"></li>
		<li class="dashicons dashicons-phone"></li>
		<li class="dashicons dashicons-index-card"></li>
		<li class="dashicons dashicons-carrot"></li>
		<li class="dashicons dashicons-building"></li>
		<li class="dashicons dashicons-store"></li>
		<li class="dashicons dashicons-album"></li>
		<li class="dashicons dashicons-palmtree"></li>
		<li class="dashicons dashicons-tickets-alt"></li>
		<li class="dashicons dashicons-money"></li>
		<li class="dashicons dashicons-money-alt"></li>
		<li class="dashicons dashicons-smiley"></li>
		<li class="dashicons dashicons-thumbs-up"></li>
		<li class="dashicons dashicons-thumbs-down"></li>
		<li class="dashicons dashicons-layout"></li>
		<li class="dashicons dashicons-paperclip"></li>
		<li class="dashicons dashicons-color-picker"></li>
		<li class="dashicons dashicons-edit-large"></li>
		<li class="dashicons dashicons-edit-page"></li>
		<li class="dashicons dashicons-airplane"></li>
		<li class="dashicons dashicons-bank"></li>
		<li class="dashicons dashicons-beer"></li>
		<li class="dashicons dashicons-calculator"></li>
		<li class="dashicons dashicons-car"></li>
		<li class="dashicons dashicons-coffee"></li>
		<li class="dashicons dashicons-drumstick"></li>
		<li class="dashicons dashicons-food"></li>
		<li class="dashicons dashicons-fullscreen-alt"></li>
		<li class="dashicons dashicons-fullscreen-exit-alt"></li>
		<li class="dashicons dashicons-games"></li>
		<li class="dashicons dashicons-hourglass"></li>
		<li class="dashicons dashicons-open-folder"></li>
		<li class="dashicons dashicons-pdf"></li>
		<li class="dashicons dashicons-pets"></li>
		<li class="dashicons dashicons-printer"></li>
		<li class="dashicons dashicons-privacy"></li>
		<li class="dashicons dashicons-superhero"></li>
		<li class="dashicons dashicons-superhero-alt"></li>
	</ul>
</div>
<!-- 引用公共底部 -->
<%= require('@/public/footer.ejs')() %>