<!-- 引用公共头部 -->
<%= require('@/public/header.ejs')({htmlWebpackPlugin}) %>
<div id="iconlist">
	<h4 id="icons-admin-menu">Admin Menu</h4>
	<!-- admin menu -->
	<ul>
		<li class="dashicons dashicons-menu"><span class="icon-text">menu</span></li>
		<li class="dashicons dashicons-menu-alt"><span class="icon-text">menu-alt</span></li>
		<li class="dashicons dashicons-menu-alt2"><span class="icon-text">menu-alt2</span></li>
		<li class="dashicons dashicons-menu-alt3"><span class="icon-text">menu-alt3</span></li>
		<li class="dashicons dashicons-admin-site"><span class="icon-text">site</span></li>
		<li class="dashicons dashicons-admin-site-alt"><span class="icon-text">site-alt</span></li>
		<li class="dashicons dashicons-admin-site-alt2"><span class="icon-text">site-alt2</span></li>
		<li class="dashicons dashicons-admin-site-alt3"><span class="icon-text">site-alt3</span></li>
		<li class="dashicons dashicons-dashboard"><span class="icon-text">dashboard</span></li>
		<li class="dashicons dashicons-admin-post"><span class="icon-text">post</span></li>
		<li class="dashicons dashicons-admin-media"><span class="icon-text">media</span></li>
		<li class="dashicons dashicons-admin-links"><span class="icon-text">links</span></li>
		<li class="dashicons dashicons-admin-page"><span class="icon-text">page</span></li>
		<li class="dashicons dashicons-admin-comments"><span class="icon-text">comments</span></li>
		<li class="dashicons dashicons-admin-appearance"><span class="icon-text">appearance</span></li>
		<li class="dashicons dashicons-admin-plugins"><span class="icon-text">plugins</span></li>
		<li class="dashicons dashicons-plugins-checked"><span class="icon-text">plugins-checked</span></li>
		<li class="dashicons dashicons-admin-users"><span class="icon-text">users</span></li>
		<li class="dashicons dashicons-admin-tools"><span class="icon-text">tools</span></li>
		<li class="dashicons dashicons-admin-settings"><span class="icon-text">settings</span></li>
		<li class="dashicons dashicons-admin-network"><span class="icon-text">network</span></li>
		<li class="dashicons dashicons-admin-home"><span class="icon-text">home</span></li>
		<li class="dashicons dashicons-admin-generic"><span class="icon-text">generic</span></li>
		<li class="dashicons dashicons-admin-collapse"><span class="icon-text">collapse</span></li>
		<li class="dashicons dashicons-filter"><span class="icon-text">filter</span></li>
		<li class="dashicons dashicons-admin-customizer"><span class="icon-text">customizer</span></li>
		<li class="dashicons dashicons-admin-multisite"><span class="icon-text">multisite</span></li>
	</ul>
	<h4 id="icons-welcome-screen">Welcome Screen</h4>
	<!-- welcome screen -->
	<ul>
		<li class="dashicons dashicons-welcome-write-blog"><span class="icon-text">write-blog</span></li>
		<li class="dashicons dashicons-welcome-add-page"><span class="icon-text">add-page</span></li>
		<li class="dashicons dashicons-welcome-view-site"><span class="icon-text">view-site</span></li>
		<li class="dashicons dashicons-welcome-widgets-menus"><span class="icon-text">widgets-menus</span></li>
		<li class="dashicons dashicons-welcome-comments"><span class="icon-text">comments</span></li>
		<li class="dashicons dashicons-welcome-learn-more"><span class="icon-text">learn-more</span></li>
	</ul>
	<h4 id="icons-post-formats">Post Formats</h4>
	<!-- post formats -->
	<ul>
		<li class="dashicons dashicons-format-aside"><span class="icon-text">aside</span></li>
		<li class="dashicons dashicons-format-image"><span class="icon-text">image</span></li>
		<li class="dashicons dashicons-format-gallery"><span class="icon-text">gallery</span></li>
		<li class="dashicons dashicons-format-video"><span class="icon-text">video</span></li>
		<li class="dashicons dashicons-format-status"><span class="icon-text">status</span></li>
		<li class="dashicons dashicons-format-quote"><span class="icon-text">quote</span></li>
		<li class="dashicons dashicons-format-chat"><span class="icon-text">chat</span></li>
		<li class="dashicons dashicons-format-audio"><span class="icon-text">audio</span></li>
		<li class="dashicons dashicons-camera"><span class="icon-text">camera</span></li>
		<li class="dashicons dashicons-camera-alt"><span class="icon-text">camera-alt</span></li>
		<li class="dashicons dashicons-images-alt"><span class="icon-text">images-alt</span></li>
		<li class="dashicons dashicons-images-alt2"><span class="icon-text">images-alt2</span></li>
		<li class="dashicons dashicons-video-alt"><span class="icon-text">video-alt</span></li>
		<li class="dashicons dashicons-video-alt2"><span class="icon-text">video-alt2</span></li>
		<li class="dashicons dashicons-video-alt3"><span class="icon-text">video-alt3</span></li>
	</ul>
	<h4 id="icons-media">Media</h4>
	<!-- media -->
	<ul>
		<li class="dashicons dashicons-media-archive"><span class="icon-text">archive</span></li>
		<li class="dashicons dashicons-media-audio"><span class="icon-text">audio</span></li>
		<li class="dashicons dashicons-media-code"><span class="icon-text">code</span></li>
		<li class="dashicons dashicons-media-default"><span class="icon-text">default</span></li>
		<li class="dashicons dashicons-media-document"><span class="icon-text">document</span></li>
		<li class="dashicons dashicons-media-interactive"><span class="icon-text">interactive</span></li>
		<li class="dashicons dashicons-media-spreadsheet"><span class="icon-text">spreadsheet</span></li>
		<li class="dashicons dashicons-media-text"><span class="icon-text">text</span></li>
		<li class="dashicons dashicons-media-video"><span class="icon-text">video</span></li>
		<li class="dashicons dashicons-playlist-audio"><span class="icon-text">playlist-audio</span></li>
		<li class="dashicons dashicons-playlist-video"><span class="icon-text">playlist-video</span></li>
		<li class="dashicons dashicons-controls-play"><span class="icon-text">play</span></li>
		<li class="dashicons dashicons-controls-pause"><span class="icon-text">pause</span></li>
		<li class="dashicons dashicons-controls-forward"><span class="icon-text">forward</span></li>
		<li class="dashicons dashicons-controls-skipforward"><span class="icon-text">skip-forward</span></li>
		<li class="dashicons dashicons-controls-back"><span class="icon-text">back</span></li>
		<li class="dashicons dashicons-controls-skipback"><span class="icon-text">skip-back</span></li>
		<li class="dashicons dashicons-controls-repeat"><span class="icon-text">repeat</span></li>
		<li class="dashicons dashicons-controls-volumeon"><span class="icon-text">volume-on</span></li>
		<li class="dashicons dashicons-controls-volumeoff"><span class="icon-text">volume-off</span></li>
	</ul>
	<h4 id="icons-image-editing">Image Editing</h4>
	<!-- image editing -->
	<ul>
		<li class="dashicons dashicons-image-crop"><span class="icon-text">crop</span></li>
		<li class="dashicons dashicons-image-rotate"><span class="icon-text">rotate</span></li>
		<li class="dashicons dashicons-image-rotate-left"><span class="icon-text">rotate-left</span></li>
		<li class="dashicons dashicons-image-rotate-right"><span class="icon-text">rotate-right</span></li>
		<li class="dashicons dashicons-image-flip-vertical"><span class="icon-text">flip-vertical</span></li>
		<li class="dashicons dashicons-image-flip-horizontal"><span class="icon-text">flip-horizontal</span></li>
		<li class="dashicons dashicons-image-filter"><span class="icon-text">filter</span></li>
		<li class="dashicons dashicons-undo"><span class="icon-text">undo</span></li>
		<li class="dashicons dashicons-redo"><span class="icon-text">redo</span></li>
	</ul>
	<h4 id="icons-databases">Databases</h4>
	<!-- databases -->
	<ul>
		<li class="dashicons dashicons-database-add"><span class="icon-text">database-add</span></li>
		<li class="dashicons dashicons-database"><span class="icon-text">database</span></li>
		<li class="dashicons dashicons-database-export"><span class="icon-text">database-export</span></li>
		<li class="dashicons dashicons-database-import"><span class="icon-text">database-import</span></li>
		<li class="dashicons dashicons-database-remove"><span class="icon-text">database-remove</span></li>
		<li class="dashicons dashicons-database-view"><span class="icon-text">database-view</span></li>
	</ul>
	<h4 id="icons-block-editor">Block Editor</h4>
	<!-- block editor -->
	<ul>
		<li class="dashicons dashicons-align-full-width"><span class="icon-text">align-full-width</span></li>
		<li class="dashicons dashicons-align-pull-left"><span class="icon-text">align-pull-left</span></li>
		<li class="dashicons dashicons-align-pull-right"><span class="icon-text">align-pull-right</span></li>
		<li class="dashicons dashicons-align-wide"><span class="icon-text">align-wide</span></li>
		<li class="dashicons dashicons-block-default"><span class="icon-text">block-default</span></li>
		<li class="dashicons dashicons-button"><span class="icon-text">button</span></li>
		<li class="dashicons dashicons-cloud-saved"><span class="icon-text">cloud-saved</span></li>
		<li class="dashicons dashicons-cloud-upload"><span class="icon-text">cloud-upload</span></li>
		<li class="dashicons dashicons-columns"><span class="icon-text">columns</span></li>
		<li class="dashicons dashicons-cover-image"><span class="icon-text">cover-image</span></li>
		<li class="dashicons dashicons-ellipsis"><span class="icon-text">ellipsis</span></li>
		<li class="dashicons dashicons-embed-audio"><span class="icon-text">embed-audio</span></li>
		<li class="dashicons dashicons-embed-generic"><span class="icon-text">embed-generic</span></li>
		<li class="dashicons dashicons-embed-photo"><span class="icon-text">embed-photo</span></li>
		<li class="dashicons dashicons-embed-post"><span class="icon-text">embed-post</span></li>
		<li class="dashicons dashicons-embed-video"><span class="icon-text">embed-video</span></li>
		<li class="dashicons dashicons-exit"><span class="icon-text">exit</span></li>
		<li class="dashicons dashicons-heading"><span class="icon-text">heading</span></li>
		<li class="dashicons dashicons-html"><span class="icon-text">HTML</span></li>
		<li class="dashicons dashicons-info-outline"><span class="icon-text">info-outline</span></li>
		<li class="dashicons dashicons-insert"><span class="icon-text">insert</span></li>
		<li class="dashicons dashicons-insert-after"><span class="icon-text">insert-after</span></li>
		<li class="dashicons dashicons-insert-before"><span class="icon-text">insert-before</span></li>
		<li class="dashicons dashicons-remove"><span class="icon-text">remove</span></li>
		<li class="dashicons dashicons-saved"><span class="icon-text">saved</span></li>
		<li class="dashicons dashicons-shortcode"><span class="icon-text">shortcode</span></li>
		<li class="dashicons dashicons-table-col-after"><span class="icon-text">table-col-after</span></li>
		<li class="dashicons dashicons-table-col-before"><span class="icon-text">table-col-before</span></li>
		<li class="dashicons dashicons-table-col-delete"><span class="icon-text">table-col-delete</span></li>
		<li class="dashicons dashicons-table-row-after"><span class="icon-text">table-row-after</span></li>
		<li class="dashicons dashicons-table-row-before"><span class="icon-text">table-row-before</span></li>
		<li class="dashicons dashicons-table-row-delete"><span class="icon-text">table-row-delete</span></li>
	</ul>
	<h4 id="icons-tinymce">TinyMCE</h4>
	<!-- tinymce -->
	<ul>
		<li class="dashicons dashicons-editor-bold"><span class="icon-text">bold</span></li>
		<li class="dashicons dashicons-editor-italic"><span class="icon-text">italic</span></li>
		<li class="dashicons dashicons-editor-ul"><span class="icon-text">unordered-list</span></li>
		<li class="dashicons dashicons-editor-ol"><span class="icon-text">ordered-list</span></li>
		<li class="dashicons dashicons-editor-ol-rtl"><span class="icon-text">ordered-list-RTL</span></li>
		<li class="dashicons dashicons-editor-quote"><span class="icon-text">quote</span></li>
		<li class="dashicons dashicons-editor-alignleft"><span class="icon-text">align-left</span></li>
		<li class="dashicons dashicons-editor-aligncenter"><span class="icon-text">align-center</span></li>
		<li class="dashicons dashicons-editor-alignright"><span class="icon-text">align-right</span></li>
		<li class="dashicons dashicons-editor-insertmore"><span class="icon-text">insert-more</span></li>
		<li class="dashicons dashicons-editor-spellcheck"><span class="icon-text">spellcheck</span></li>
		<li class="dashicons dashicons-editor-expand"><span class="icon-text">expand</span></li>
		<li class="dashicons dashicons-editor-contract"><span class="icon-text">contract</span></li>
		<li class="dashicons dashicons-editor-kitchensink"><span class="icon-text">kitchen-sink</span></li>
		<li class="dashicons dashicons-editor-underline"><span class="icon-text">underline</span></li>
		<li class="dashicons dashicons-editor-justify"><span class="icon-text">justify</span></li>
		<li class="dashicons dashicons-editor-textcolor"><span class="icon-text">text-color</span></li>
		<li class="dashicons dashicons-editor-paste-word"><span class="icon-text">paste-word</span></li>
		<li class="dashicons dashicons-editor-paste-text"><span class="icon-text">paste-text</span></li>
		<li class="dashicons dashicons-editor-removeformatting"><span class="icon-text">remove-formatting</span></li>
		<li class="dashicons dashicons-editor-video"><span class="icon-text">video</span></li>
		<li class="dashicons dashicons-editor-customchar"><span class="icon-text">custom-character</span></li>
		<li class="dashicons dashicons-editor-outdent"><span class="icon-text">outdent</span></li>
		<li class="dashicons dashicons-editor-indent"><span class="icon-text">indent</span></li>
		<li class="dashicons dashicons-editor-help"><span class="icon-text">help</span></li>
		<li class="dashicons dashicons-editor-strikethrough"><span class="icon-text">strikethrough</span></li>
		<li class="dashicons dashicons-editor-unlink"><span class="icon-text">unlink</span></li>
		<li class="dashicons dashicons-editor-rtl"><span class="icon-text">RTL</span></li>
		<li class="dashicons dashicons-editor-ltr"><span class="icon-text">LTR</span></li>
		<li class="dashicons dashicons-editor-break"><span class="icon-text">break</span></li>
		<li class="dashicons dashicons-editor-code"><span class="icon-text">code</span></li>
		<li class="dashicons dashicons-editor-paragraph"><span class="icon-text">paragraph</span></li>
		<li class="dashicons dashicons-editor-table"><span class="icon-text">table</span></li>
	</ul>
	<h4 id="icons-posts-screen">Posts Screen</h4>
	<!-- posts screen -->
	<ul>
		<li class="dashicons dashicons-align-left"><span class="icon-text">align-left</span></li>
		<li class="dashicons dashicons-align-right"><span class="icon-text">align-right</span></li>
		<li class="dashicons dashicons-align-center"><span class="icon-text">align-center</span></li>
		<li class="dashicons dashicons-align-none"><span class="icon-text">align-none</span></li>
		<li class="dashicons dashicons-lock"><span class="icon-text">lock</span></li>
		<li class="dashicons dashicons-unlock"><span class="icon-text">unlock</span></li>
		<li class="dashicons dashicons-calendar"><span class="icon-text">calendar</span></li>
		<li class="dashicons dashicons-calendar-alt"><span class="icon-text">calendar-alt</span></li>
		<li class="dashicons dashicons-visibility"><span class="icon-text">visibility</span></li>
		<li class="dashicons dashicons-hidden"><span class="icon-text">hidden</span></li>
		<li class="dashicons dashicons-post-status"><span class="icon-text">post-status</span></li>
		<li class="dashicons dashicons-edit"><span class="icon-text">edit</span></li>
		<li class="dashicons dashicons-trash"><span class="icon-text">trash</span></li>
		<li class="dashicons dashicons-sticky"><span class="icon-text">sticky</span></li>
	</ul>
	<h4 id="icons-sorting">Sorting</h4>
	<!-- sorting -->
	<ul>
		<li class="dashicons dashicons-external"><span class="icon-text">external</span></li>
		<li class="dashicons dashicons-arrow-up"><span class="icon-text">arrow-up</span></li>
		<li class="dashicons dashicons-arrow-down"><span class="icon-text">arrow-down</span></li>
		<li class="dashicons dashicons-arrow-right"><span class="icon-text">arrow-right</span></li>
		<li class="dashicons dashicons-arrow-left"><span class="icon-text">arrow-left</span></li>
		<li class="dashicons dashicons-arrow-up-alt"><span class="icon-text">arrow-up-alt</span></li>
		<li class="dashicons dashicons-arrow-down-alt"><span class="icon-text">arrow-down-alt</span></li>
		<li class="dashicons dashicons-arrow-right-alt"><span class="icon-text">arrow-right-alt</span></li>
		<li class="dashicons dashicons-arrow-left-alt"><span class="icon-text">arrow-left-alt</span></li>
		<li class="dashicons dashicons-arrow-up-alt2"><span class="icon-text">arrow-up-alt2</span></li>
		<li class="dashicons dashicons-arrow-down-alt2"><span class="icon-text">arrow-down-alt2</span></li>
		<li class="dashicons dashicons-arrow-right-alt2"><span class="icon-text">arrow-right-alt2</span></li>
		<li class="dashicons dashicons-arrow-left-alt2"><span class="icon-text">arrow-left-alt2</span></li>
		<li class="dashicons dashicons-sort"><span class="icon-text">sort</span></li>
		<li class="dashicons dashicons-leftright"><span class="icon-text">left-right</span></li>
		<li class="dashicons dashicons-randomize"><span class="icon-text">randomize</span></li>
		<li class="dashicons dashicons-list-view"><span class="icon-text">list-view</span></li>
		<li class="dashicons dashicons-excerpt-view"><span class="icon-text">excerpt-view</span></li>
		<li class="dashicons dashicons-grid-view"><span class="icon-text">grid-view</span></li>
		<li class="dashicons dashicons-move"><span class="icon-text">move</span></li>
	</ul>
	<h4 id="icons-social">Social</h4>
	<!-- social -->
	<ul>
		<li class="dashicons dashicons-share"><span class="icon-text">share</span></li>
		<li class="dashicons dashicons-share-alt"><span class="icon-text">share-alt</span></li>
		<li class="dashicons dashicons-share-alt2"><span class="icon-text">share-alt2</span></li>
		<li class="dashicons dashicons-rss"><span class="icon-text">RSS</span></li>
		<li class="dashicons dashicons-email"><span class="icon-text">email</span></li>
		<li class="dashicons dashicons-email-alt"><span class="icon-text">email-alt</span></li>
		<li class="dashicons dashicons-email-alt2"><span class="icon-text">email-alt2</span></li>
		<li class="dashicons dashicons-networking"><span class="icon-text">networking</span></li>
		<li class="dashicons dashicons-amazon"><span class="icon-text">Amazon</span></li>
		<li class="dashicons dashicons-facebook"><span class="icon-text">Facebook</span></li>
		<li class="dashicons dashicons-facebook-alt"><span class="icon-text">Facebook-alt</span></li>
		<li class="dashicons dashicons-google"><span class="icon-text">Google</span></li>
		<li class="dashicons dashicons-instagram"><span class="icon-text">Instagram</span></li>
		<li class="dashicons dashicons-linkedin"><span class="icon-text">LinkedIn</span></li>
		<li class="dashicons dashicons-pinterest"><span class="icon-text">Pinterest</span></li>
		<li class="dashicons dashicons-podio"><span class="icon-text">Podio</span></li>
		<li class="dashicons dashicons-reddit"><span class="icon-text">Reddit</span></li>
		<li class="dashicons dashicons-spotify"><span class="icon-text">Spotify</span></li>
		<li class="dashicons dashicons-twitch"><span class="icon-text">Twitch</span></li>
		<li class="dashicons dashicons-twitter"><span class="icon-text">Twitter</span></li>
		<li class="dashicons dashicons-twitter-alt"><span class="icon-text">Twitter-alt</span></li>
		<li class="dashicons dashicons-whatsapp"><span class="icon-text">WhatsApp</span></li>
		<li class="dashicons dashicons-xing"><span class="icon-text">Xing</span></li>
		<li class="dashicons dashicons-youtube"><span class="icon-text">YouTube</span></li>
	</ul>
	<h4 id="icons-wordpress-org">WordPress.org</h4>
	<!-- WordPress.org -->
	<ul>
		<li class="dashicons dashicons-hammer"><span class="icon-text">hammer</span></li>
		<li class="dashicons dashicons-art"><span class="icon-text">art</span></li>
		<li class="dashicons dashicons-migrate"><span class="icon-text">migrate</span></li>
		<li class="dashicons dashicons-performance"><span class="icon-text">performance</span></li>
		<li class="dashicons dashicons-universal-access"><span class="icon-text">universal-access</span></li>
		<li class="dashicons dashicons-universal-access-alt"><span class="icon-text">universal-access-alt</span></li>
		<li class="dashicons dashicons-tickets"><span class="icon-text">tickets</span></li>
		<li class="dashicons dashicons-nametag"><span class="icon-text">nametag</span></li>
		<li class="dashicons dashicons-clipboard"><span class="icon-text">clipboard</span></li>
		<li class="dashicons dashicons-heart"><span class="icon-text">heart</span></li>
		<li class="dashicons dashicons-megaphone"><span class="icon-text">megaphone</span></li>
		<li class="dashicons dashicons-schedule"><span class="icon-text">schedule</span></li>
		<li class="dashicons dashicons-tide"><span class="icon-text">tide</span></li>
		<li class="dashicons dashicons-rest-api"><span class="icon-text">rest-api</span></li>
		<li class="dashicons dashicons-code-standards"><span class="icon-text">code-standards</span></li>
	</ul>
	<h4 id="icons-buddicons">Buddicons</h4>
	<!-- buddicons -->
	<ul>
		<li class="dashicons dashicons-buddicons-activity"><span class="icon-text">activity</span></li>
		<li class="dashicons dashicons-buddicons-bbpress-logo"><span class="icon-text">bbPress</span></li>
		<li class="dashicons dashicons-buddicons-buddypress-logo"><span class="icon-text">BuddyPress</span></li>
		<li class="dashicons dashicons-buddicons-community"><span class="icon-text">community</span></li>
		<li class="dashicons dashicons-buddicons-forums"><span class="icon-text">forums</span></li>
		<li class="dashicons dashicons-buddicons-friends"><span class="icon-text">friends</span></li>
		<li class="dashicons dashicons-buddicons-groups"><span class="icon-text">groups</span></li>
		<li class="dashicons dashicons-buddicons-pm"><span class="icon-text">pm</span></li>
		<li class="dashicons dashicons-buddicons-replies"><span class="icon-text">replies</span></li>
		<li class="dashicons dashicons-buddicons-topics"><span class="icon-text">topics</span></li>
		<li class="dashicons dashicons-buddicons-tracking"><span class="icon-text">tracking</span></li>
	</ul>
	<h4 id="icons-products">Products</h4>
	<!-- products -->
	<ul>
		<li class="dashicons dashicons-wordpress"><span class="icon-text">wordpress</span></li>
		<li class="dashicons dashicons-wordpress-alt"><span class="icon-text">wordpress-alt</span></li>
		<li class="dashicons dashicons-pressthis"><span class="icon-text">pressthis</span></li>
		<li class="dashicons dashicons-update"><span class="icon-text">update</span></li>
		<li class="dashicons dashicons-update-alt"><span class="icon-text">update-alt</span></li>
		<li class="dashicons dashicons-screenoptions"><span class="icon-text">screen-options</span></li>
		<li class="dashicons dashicons-info"><span class="icon-text">info</span></li>
		<li class="dashicons dashicons-cart"><span class="icon-text">cart</span></li>
		<li class="dashicons dashicons-feedback"><span class="icon-text">feedback</span></li>
		<li class="dashicons dashicons-cloud"><span class="icon-text">cloud</span></li>
		<li class="dashicons dashicons-translation"><span class="icon-text">translation</span></li>
	</ul>
	<h4 id="icons-taxonomies">Taxonomies</h4>
	<!-- taxonomies -->
	<ul>
		<li class="dashicons dashicons-tag"><span class="icon-text">tag</span></li>
		<li class="dashicons dashicons-category"><span class="icon-text">category</span></li>
	</ul>
	<h4 id="icons-widgets">Widgets</h4>
	<!-- widgets -->
	<ul>
		<li class="dashicons dashicons-archive"><span class="icon-text">archive</span></li>
		<li class="dashicons dashicons-tagcloud"><span class="icon-text">tagcloud</span></li>
		<li class="dashicons icon-text"><span class="icon-text">text</span></li>
	</ul>
	<h4 id="icons-notifications">Notifications</h4>
	<!-- notifications -->
	<ul>
		<li class="dashicons dashicons-bell"><span class="icon-text">bell</span></li>
		<li class="dashicons dashicons-yes"><span class="icon-text">yes</span></li>
		<li class="dashicons dashicons-yes-alt"><span class="icon-text">yes-alt</span></li>
		<li class="dashicons dashicons-no"><span class="icon-text">no</span></li>
		<li class="dashicons dashicons-no-alt"><span class="icon-text">no-alt</span></li>
		<li class="dashicons dashicons-plus"><span class="icon-text">plus</span></li>
		<li class="dashicons dashicons-plus-alt"><span class="icon-text">plus-alt</span></li>
		<li class="dashicons dashicons-plus-alt2"><span class="icon-text">plus-alt2</span></li>
		<li class="dashicons dashicons-minus"><span class="icon-text">minus</span></li>
		<li class="dashicons dashicons-dismiss"><span class="icon-text">dismiss</span></li>
		<li class="dashicons dashicons-marker"><span class="icon-text">marker</span></li>
		<li class="dashicons dashicons-star-filled"><span class="icon-text">star-filled</span></li>
		<li class="dashicons dashicons-star-half"><span class="icon-text">star-half</span></li>
		<li class="dashicons dashicons-star-empty"><span class="icon-text">star-empty</span></li>
		<li class="dashicons dashicons-flag"><span class="icon-text">flag</span></li>
		<li class="dashicons dashicons-warning"><span class="icon-text">warning</span></li>
	</ul>
	<h4 id="icons-miscellaneous">Miscellaneous</h4>
	<!-- miscellaneous -->
	<ul>
		<li class="dashicons dashicons-location"><span class="icon-text">location</span></li>
		<li class="dashicons dashicons-location-alt"><span class="icon-text">location-alt</span></li>
		<li class="dashicons dashicons-vault"><span class="icon-text">vault</span></li>
		<li class="dashicons dashicons-shield"><span class="icon-text">shield</span></li>
		<li class="dashicons dashicons-shield-alt"><span class="icon-text">shield-alt</span></li>
		<li class="dashicons dashicons-sos"><span class="icon-text">sos</span></li>
		<li class="dashicons dashicons-search"><span class="icon-text">search</span></li>
		<li class="dashicons dashicons-slides"><span class="icon-text">slides</span></li>
		<li class="dashicons icon-text-page"><span class="icon-text">text-page</span></li>
		<li class="dashicons dashicons-analytics"><span class="icon-text">analytics</span></li>
		<li class="dashicons dashicons-chart-pie"><span class="icon-text">chart-pie</span></li>
		<li class="dashicons dashicons-chart-bar"><span class="icon-text">chart-bar</span></li>
		<li class="dashicons dashicons-chart-line"><span class="icon-text">chart-line</span></li>
		<li class="dashicons dashicons-chart-area"><span class="icon-text">chart-area</span></li>
		<li class="dashicons dashicons-groups"><span class="icon-text">groups</span></li>
		<li class="dashicons dashicons-businessman"><span class="icon-text">businessman</span></li>
		<li class="dashicons dashicons-businesswoman"><span class="icon-text">businesswoman</span></li>
		<li class="dashicons dashicons-businessperson"><span class="icon-text">businessperson</span></li>
		<li class="dashicons dashicons-id"><span class="icon-text">id</span></li>
		<li class="dashicons dashicons-id-alt"><span class="icon-text">id-alt</span></li>
		<li class="dashicons dashicons-products"><span class="icon-text">products</span></li>
		<li class="dashicons dashicons-awards"><span class="icon-text">awards</span></li>
		<li class="dashicons dashicons-forms"><span class="icon-text">forms</span></li>
		<li class="dashicons dashicons-testimonial"><span class="icon-text">testimonial</span></li>
		<li class="dashicons dashicons-portfolio"><span class="icon-text">portfolio</span></li>
		<li class="dashicons dashicons-book"><span class="icon-text">book</span></li>
		<li class="dashicons dashicons-book-alt"><span class="icon-text">book-alt</span></li>
		<li class="dashicons dashicons-download"><span class="icon-text">download</span></li>
		<li class="dashicons dashicons-upload"><span class="icon-text">upload</span></li>
		<li class="dashicons dashicons-backup"><span class="icon-text">backup</span></li>
		<li class="dashicons dashicons-clock"><span class="icon-text">clock</span></li>
		<li class="dashicons dashicons-lightbulb"><span class="icon-text">lightbulb</span></li>
		<li class="dashicons dashicons-microphone"><span class="icon-text">microphone</span></li>
		<li class="dashicons dashicons-desktop"><span class="icon-text">desktop</span></li>
		<li class="dashicons dashicons-laptop"><span class="icon-text">laptop</span></li>
		<li class="dashicons dashicons-tablet"><span class="icon-text">tablet</span></li>
		<li class="dashicons dashicons-smartphone"><span class="icon-text">smartphone</span></li>
		<li class="dashicons dashicons-phone"><span class="icon-text">phone</span></li>
		<li class="dashicons dashicons-index-card"><span class="icon-text">index-card</span></li>
		<li class="dashicons dashicons-carrot"><span class="icon-text">carrot</span></li>
		<li class="dashicons dashicons-building"><span class="icon-text">building</span></li>
		<li class="dashicons dashicons-store"><span class="icon-text">store</span></li>
		<li class="dashicons dashicons-album"><span class="icon-text">album</span></li>
		<li class="dashicons dashicons-palmtree"><span class="icon-text">palm-tree</span></li>
		<li class="dashicons dashicons-tickets-alt"><span class="icon-text">tickets-alt</span></li>
		<li class="dashicons dashicons-money"><span class="icon-text">money</span></li>
		<li class="dashicons dashicons-money-alt"><span class="icon-text">money-alt</span></li>
		<li class="dashicons dashicons-smiley"><span class="icon-text">smiley</span></li>
		<li class="dashicons dashicons-thumbs-up"><span class="icon-text">thumbs-up</span></li>
		<li class="dashicons dashicons-thumbs-down"><span class="icon-text">thumbs-down</span></li>
		<li class="dashicons dashicons-layout"><span class="icon-text">layout</span></li>
		<li class="dashicons dashicons-paperclip"><span class="icon-text">paperclip</span></li>
		<li class="dashicons dashicons-color-picker"><span class="icon-text">color-picker</span></li>
		<li class="dashicons dashicons-edit-large"><span class="icon-text">edit-large</span></li>
		<li class="dashicons dashicons-edit-page"><span class="icon-text">edit-page</span></li>
		<li class="dashicons dashicons-airplane"><span class="icon-text">airplane</span></li>
		<li class="dashicons dashicons-bank"><span class="icon-text">bank</span></li>
		<li class="dashicons dashicons-beer"><span class="icon-text">beer</span></li>
		<li class="dashicons dashicons-calculator"><span class="icon-text">calculator</span></li>
		<li class="dashicons dashicons-car"><span class="icon-text">car</span></li>
		<li class="dashicons dashicons-coffee"><span class="icon-text">coffee</span></li>
		<li class="dashicons dashicons-drumstick"><span class="icon-text">drumstick</span></li>
		<li class="dashicons dashicons-food"><span class="icon-text">food</span></li>
		<li class="dashicons dashicons-fullscreen-alt"><span class="icon-text">fullscreen-alt</span></li>
		<li class="dashicons dashicons-fullscreen-exit-alt"><span class="icon-text">fullscreen-exit-alt</span></li>
		<li class="dashicons dashicons-games"><span class="icon-text">games</span></li>
		<li class="dashicons dashicons-hourglass"><span class="icon-text">hourglass</span></li>
		<li class="dashicons dashicons-open-folder"><span class="icon-text">open-folder</span></li>
		<li class="dashicons dashicons-pdf"><span class="icon-text">PDF</span></li>
		<li class="dashicons dashicons-pets"><span class="icon-text">pets</span></li>
		<li class="dashicons dashicons-printer"><span class="icon-text">printer</span></li>
		<li class="dashicons dashicons-privacy"><span class="icon-text">privacy</span></li>
		<li class="dashicons dashicons-superhero"><span class="icon-text">superhero</span></li>
		<li class="dashicons dashicons-superhero-alt"><span class="icon-text">superhero-alt</span></li>
	</ul>
</div>
<style>
#iconlist .dashicons {
	width: 100px;
	height: 60px;
	font-size:30px;
}

.icon-text {
	display: block;
	font-size: 12px;
}
</style>
<!-- 引用公共底部 -->
<%= require('@/public/footer.ejs')() %>