<div class="c-post-list-7">
	<div class="js2-center-wrap wrap-1280">
		<div class="title">随机文章</div>
		<ul>
			<% for(let i = 0; i < 8; i++){ %>
			<li>
				<div class="thumbnail"><a href="#"><img src="${require('@/images/image-placeholder.jpg')}" /></a></div>
				<div class="content-wrap">
					<a class="post-title" href="#">狗屁不通文章生成器，就是你随便输入一个主题</a>
					<div class="info">
						<span class="date">2022-13-14 05:20</span>
					</div>
				</div>
			</li>
			<% } %>
		</ul>
	</div>
</div>