<div class="c-guestbook-form-2 js2-section">
	<div class="contact">
		<div>
			<span class="title"><span class="require">*</span>姓名：</span>
			<input class="input-name" type="text" placeholder="请输入您的姓名" />
		</div>
		<div>
			<span class="title"><span class="require">*</span>电话：</span>
			<input class="input-phone" type="text" placeholder="请输入您的联系电话" />
		</div>
		<div>
			<span class="title">邮箱：</span>
			<input class="input-email" type="text" placeholder="请输入您的电子邮箱" />
		</div>
	</div>
	<div class="content-box">
		<span class="title"><span class="require">*</span>留言内容：</span>
		<textarea class="input-content" rows="5" placeholder="请描述您的需求"></textarea>
	</div>
	<div class="bottom"><button>提交留言</button></div>
</div>