<div class="c-banner">
    <div class="item">
        <img src="${require('../1.jpg')}" alt="">
    </div>
    <div class="item">
        <img src="${require('../2.jpg')}" alt="">
    </div>
    <div class="item">
        <img src="${require('../3.jpg')}" alt="">
    </div>
</div>