<div class="c-crumbs-2">
	<div class="js2-center-wrap wrap-1152">
		当前位置：
		<a href="#">首页</a>
		<span class="dashicons dashicons-arrow-right-alt2"></span>
		<a href="#">产品分类</a>
		<span class="dashicons dashicons-arrow-right-alt2"></span>
		<span>详情</span>
	</div>
</div>