.c-crumbs-2{
	padding:.5em;
	text-align:right;
	color:var(--font-second);
	background-color: var(--invert);
	border-top:1px solid rgba(var(--border),.5);
	line-height: 2.5;
	font-size:12px;
	a{
		color:var(--font-second);
	}
	.dashicons{
		font-size:.875em;
		margin:0 .25em;
	}
}