<!DOCTYPE html>
<html lang="zh-cmn-Hans-CN">

<head>
	<meta charset="utf-8" />
	<title>网站标题 - 网站名称</title>
	<meta content="网站关键词" name="keywords" />
	<meta content="网站描述" name="description" />
	<meta content="webkit" name="renderer" />
	<meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport" />
	<link href="/favicon.png" rel="icon" type="image/png" />
</head>
<!-- body class 用于区别每个页面 ，来自路由文件的配置，命名规则：page-文件名 -->

<body class="page-<%= htmlWebpackPlugin.options.name %>">
	<div class="website">
		<div class="js2-center-wrap wrap-1920">
			<%= require('@/components/menu/3/menu.ejs')({htmlWebpackPlugin}) %>
		</div>
		<div class="js2-center-wrap wrap-1920 js2-overflow-hidden">
			<%= require('@/components/banner/2/banner.ejs')({htmlWebpackPlugin}) %>
		</div>