<div class="c-friend-link-1">
	<div class="wrap js2-center-wrap wrap-1280">
		<span class="title">友情链接：</span>
		<div class="links">
			<a href="#">投资集团</a>
			<a href="#">新华网</a>
			<a href="#">新浪财经</a>
			<a href="#">百度</a>
			<a href="#">Google</a>
			<a href="#">腾讯</a>
			<a href="#">阿里巴巴</a>
			<a href="#">淘宝</a>
			<a href="#">王者荣耀</a>
			<a href="#">阴阳师</a>
			<a href="#">投资集团</a>
			<a href="#">新华网</a>
			<a href="#">新浪财经</a>
			<a href="#">百度</a>
			<a href="#">Google</a>
			<a href="#">腾讯</a>
			<a href="#">阿里巴巴</a>
			<a href="#">淘宝</a>
			<a href="#">王者荣耀</a>
			<a href="#">阴阳师</a>
		</div>
	</div>
</div>