.c-friend-link-1 {
	padding-left: 1em;
	padding-left: 1em;

	.wrap {
		display: flex;
	}

	.title {
		font-size: 1.125em;
		font-weight: bold;
		white-space: nowrap;
	}

	a {
		display: inline-block;
		margin: 0 1em .5em;
		white-space: nowrap;
		margin-bottom: 1em;

		&:hover {
			color: @primary;
		}
	}
}