<div class="c-banner-1">
	<img src="${require('@/images/banner.jpg')}" alt="">
	<div class="banner-mask">
		<div class="banner-text">
			<div class="title">你是中心</div>
			<div class="desc">不需要别人给予 你想要的触手可及</div>
		</div>
	</div>
</div>