<div class="c-banner-1">
	<ul>
		<li><img src="${require('../banner-1.jpg')}" alt=""></li>
		<li><img src="${require('../banner-2.jpg')}" alt=""></li>
		<li><img src="${require('../banner-3.jpg')}" alt=""></li>
		<li><img src="${require('../banner-2.jpg')}" alt=""></li>
		<li><img src="${require('../banner-1.jpg')}" alt=""></li>
	</ul>
</div>