@column-width: 4.166%; //一列宽度

//宽度
.js2-column-full {
	width: 100%;
}

.js2-column-1 {
	width: @column-width;
}

.js2-column-2 {
	width: @column-width * 2;
}

.js2-column-3 {
	width: @column-width * 3;
}

.js2-column-4 {
	width: @column-width * 4;
}

.js2-column-5 {
	width: @column-width * 5;
}

.js2-column-6 {
	width: @column-width * 6;
}

.js2-column-7 {
	width: @column-width * 7;
}

.js2-column-8 {
	width: @column-width * 8;
}

.js2-column-9 {
	width: @column-width * 9;
}

.js2-column-10 {
	width: @column-width * 10;
}

.js2-column-11 {
	width: @column-width * 11;
}

.js2-column-12 {
	width: @column-width * 12;
}

.js2-column-13 {
	width: @column-width * 13;
}

.js2-column-14 {
	width: @column-width * 14;
}

.js2-column-15 {
	width: @column-width * 15;
}

.js2-column-16 {
	width: @column-width * 16;
}

.js2-column-17 {
	width: @column-width * 17;
}

.js2-column-18 {
	width: @column-width * 18;
}

.js2-column-19 {
	width: @column-width * 19;
}

.js2-column-20 {
	width: @column-width * 20;
}

.js2-column-21 {
	width: @column-width * 21;
}

.js2-column-22 {
	width: @column-width * 22;
}

.js2-column-23 {
	width: @column-width * 23;
}

.js2-column-24 {
	width: @column-width * 24;
}