//flex布局
.js2-flex {
	display: flex;

	&.flex-wrap {
		flex-wrap: wrap;
	}

	&.justify-center {
		justify-content: center;
	}

	&.justify-between {
		justify-content: space-between;
	}

	&.justify-around {
		justify-content: space-around;
	}

	&.justify-start {
		justify-content: flex-start;
	}

	&.justify-end {
		justify-content: flex-end;
	}

	&.align-center {
		align-items: center;
	}

	&.align-start {
		align-items: flex-start;
	}

	&.align-end {
		align-items: flex-end;
	}

	&.direction-column {
		flex-direction: column;
	}

	.flex-1 {
		flex: 1;
	}

	.flex-2 {
		flex: 2;
	}

	.flex-3 {
		flex: 3;
	}

	.flex-4 {
		flex: 4;
	}

	.flex-5 {
		flex: 5;
	}

	.flex-6 {
		flex: 6;
	}

	.flex-7 {
		flex: 7;
	}

	.flex-8 {
		flex: 8;
	}

	.flex-9 {
		flex: 9;
	}

	.flex-10 {
		flex: 10;
	}

	.flex-11 {
		flex: 11;
	}
}