//字体大小
.js2-font-size-xs {
	font-size: 12px;
}

.js2-font-size-s {
	font-size: 14px;
}

.js2-font-size-m {
	font-size: 16px;
}

.js2-font-size-l {
	font-size: 18px;
}

.js2-font-size-xl {
	font-size: 20px;
}

.js2-font-size-xxl {
	font-size: 22px;
}