//外边距
.js2-margin{
	&.mt-s{
		margin-top:.5em;
	}
	&.mr-s{
		margin-right:.5em;
	}
	&.mb-s{
		margin-bottom:.5em;
	}
	&.ml-s{
		margin-left:.5em;
	}

	&.mt-m{
		margin-top:1em;
	}
	&.mr-m{
		margin-right:1em;
	}
	&.mb-m{
		margin-bottom:1em;
	}
	&.ml-m{
		margin-left:1em;
	}

	&.mt-l{
		margin-top:1.5em;
	}
	&.mr-l{
		margin-right:1.5em;
	}
	&.mb-l{
		margin-bottom:1.5em;
	}
	&.ml-l{
		margin-left:1.5em;
	}

	&.mt-xl{
		margin-top:2em;
	}
	&.mr-xl{
		margin-right:2em;
	}
	&.mb-xl{
		margin-bottom:2em;
	}
	&.ml-xl{
		margin-left:2em;
	}
}