//外边距
.js2-margin-top-none {
	margin-top: 0;
}

.js2-margin-right-none {
	margin-right: 0;
}

.js2-margin-bottom-none {
	margin-bottom: 0;
}

.js2-margin-left-none {
	margin-left: 0;
}

.js2-margin-top-xs {
	margin-top: .5em;
}

.js2-margin-right-xs {
	margin-right: .5em;
}

.js2-margin-bottom-xs {
	margin-bottom: .5em;
}

.js2-margin-left-xs {
	margin-left: .5em;
}

.js2-margin-top-s {
	margin-top: 1em;
}

.js2-margin-right-s {
	margin-right: 1em;
}

.js2-margin-bottom-s {
	margin-bottom: 1em;
}

.js2-margin-left-s {
	margin-left: 1em;
}

.js2-margin-top-m {
	margin-top: 1.5em;
}

.js2-margin-right-m {
	margin-right: 1.5em;
}

.js2-margin-bottom-m {
	margin-bottom: 1.5em;
}

.js2-margin-left-m {
	margin-left: 1.5em;
}

.js2-margin-top-l {
	margin-top: 2em;
}

.js2-margin-right-l {
	margin-right: 2em;
}

.js2-margin-bottom-l {
	margin-bottom: 2em;
}

.js2-margin-left-l {
	margin-left: 2em;
}

.js2-margin-top-xl {
	margin-top: 2.5em;
}

.js2-margin-right-xl {
	margin-right: 2.5em;
}

.js2-margin-bottom-xl {
	margin-bottom: 2.5em;
}

.js2-margin-left-xl {
	margin-left: 2.5em;
}