@base: 12px;

//内边距

.js2-padding-none {
	padding: none;
}

.js2-padding-top-none {
	padding-top: 0;
}

.js2-padding-right-none {
	padding-right: 0;
}

.js2-padding-bottom-none {
	padding-bottom: 0;
}

.js2-padding-left-none {
	padding-left: 0;
}

.js2-padding-xs {
	padding: @base * .5;
}

.js2-padding-s {
	padding: @base;
}

.js2-padding-m {
	padding: @base * 2;
}

.js2-padding-l {
	padding: @base * 3;
}


.js2-padding-xl {
	padding: @base * 4;
}

.js2-padding-top-xs {
	padding-top: @base * .5;
}

.js2-padding-right-xs {
	padding-right: @base * .5;
}

.js2-padding-bottom-xs {
	padding-bottom: @base * .5;
}

.js2-padding-left-xs {
	padding-left: @base * .5;
}

.js2-padding-top-s {
	padding-top: @base;
}

.js2-padding-right-s {
	padding-right: @base;
}

.js2-padding-bottom-s {
	padding-bottom: @base;
}

.js2-padding-left-s {
	padding-left: @base;
}

.js2-padding-top-m {
	padding-top: @base * 2;
}

.js2-padding-right-m {
	padding-right: @base * 2;
}

.js2-padding-bottom-m {
	padding-bottom: @base * 2;
}

.js2-padding-left-m {
	padding-left: @base * 2;
}

.js2-padding-top-l {
	padding-top: @base * 3;
}

.js2-padding-right-l {
	padding-right: @base * 3;
}

.js2-padding-bottom-l {
	padding-bottom: @base * 3;
}

.js2-padding-left-l {
	padding-left: @base * 3;
}

.js2-padding-top-xl {
	padding-top: @base * 4;
}

.js2-padding-right-xl {
	padding-right: @base * 4;
}

.js2-padding-bottom-xl {
	padding-bottom: @base * 4;
}