//内边距

.js2-padding-none {
	padding: none;
}

.js2-padding-top-none {
	padding-top: 0;
}

.js2-padding-right-none {
	padding-right: 0;
}

.js2-padding-bottom-none {
	padding-bottom: 0;
}

.js2-padding-left-none {
	padding-left: 0;
}

.js2-padding-xs {
	padding: .5em;
}

.js2-padding-s {
	padding: 1em;
}

.js2-padding-m {
	padding: 1.5em;
}

.js2-padding-l {
	padding: 2em;
}


.js2-padding-xl {
	padding: 2.5em;
}

.js2-padding-top-xs {
	padding-top: .5em;
}

.js2-padding-right-xs {
	padding-right: .5em;
}

.js2-padding-bottom-xs {
	padding-bottom: .5em;
}

.js2-padding-left-xs {
	padding-left: .5em;
}

.js2-padding-top-s {
	padding-top: 1em;
}

.js2-padding-right-s {
	padding-right: 1em;
}

.js2-padding-bottom-s {
	padding-bottom: 1em;
}

.js2-padding-left-s {
	padding-left: 1em;
}

.js2-padding-top-m {
	padding-top: 3em;
}

.js2-padding-right-m {
	padding-right: 3em;
}

.js2-padding-bottom-m {
	padding-bottom: 3em;
}

.js2-padding-left-m {
	padding-left: 3em;
}

.js2-padding-top-l {
	padding-top: 5em;
}

.js2-padding-right-l {
	padding-right: 5em;
}

.js2-padding-bottom-l {
	padding-bottom: 5em;
}

.js2-padding-left-l {
	padding-left: 5em;
}

.js2-padding-top-xl {
	padding-top: 7em;
}

.js2-padding-right-xl {
	padding-right: 7em;
}

.js2-padding-bottom-xl {
	padding-bottom: 7em;
}

.js2-padding-left-xxl {
	padding-left: 7em;
}