<header class="c-menu-3">
	<div class="container js2-center-wrap wrap-1280">
		<div class="logo">
			<a href="/"><img src="${require('@/images/logo.png')}"></a>
		</div>
		<div class="menu">
			<div class="js2-center-wrap wrap-1280">
				<ul class="menu-list">
					<li><a href="/${htmlWebpackPlugin.options.directory}/index/index.html">首页</a></li>
					<li><a href="/${htmlWebpackPlugin.options.directory}/posts/index.html">新闻中心</a></li>
					<li>
						<a href="/${htmlWebpackPlugin.options.directory}/products/index.html">
							产品中心
							<span class="dashicons dashicons-arrow-down-alt2"></span>
						</a>
						<ul class="sub-menu">
							<li><a href="#">产品分类一</a></li>
							<li><a href="#">产品分类二</a></li>
							<li><a href="#">产品分类三</a></li>
						</ul>
					</li>
					<li><a href="/${htmlWebpackPlugin.options.directory}/search/index.html">搜索页</a></li>
					<li><a href="/${htmlWebpackPlugin.options.directory}/guestbook/index.html">留言页</a></li>
					<li><a href="/${htmlWebpackPlugin.options.directory}/post/index.html">详情页</a></li>
					<li><a href="/${htmlWebpackPlugin.options.directory}/tag/index.html">标签页</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>