<header class="c-menu-3">
	<div class="container js2-center-wrap w1280">
		<div class="logo">
			<a href="/"><img src="${require('@/images/logo.png')}"></a>
		</div>
		<div class="menu">
			<div class="js2-center-wrap w1280">
				<ul class="menu-list">
					<li><a href="#">首页</a></li>
					<li><a href="#">新闻中心</a></li>
					<li>
						<a href="#">
							产品中心
							<span class="dashicons dashicons-arrow-down-alt2"></span>
						</a>
						<ul class="sub-menu">
							<li><a href="#">产品分类一</a></li>
							<li><a href="#">产品分类二</a></li>
							<li><a href="#">产品分类三</a></li>
						</ul>
					</li>
					<li><a href="#">关于我们</a></li>
					<li><a href="#">联系我们</a></li>
					<li><a href="#">注册账号</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>