<div class="c-menu-1 js2-shadow-bottom">
	<div class="wrap js2-center-1200">
		<div class="logo"></div>
		<div class="menu-list">
			<ul>
				<li><a href="/">首页</a></li>
				<li><a href="/news.html">关于我们</a></li>
				<li><a href="/post.html">产品介绍</a></li>
				<li><a href="#">品牌研究</a></li>
				<li><a href="/contact.html">联系我们</a></li>
				<li><a href="#">法律声明</a></li>
			</ul>
		</div>
	</div>
</div>