<div class="c-news-list-1">
	<div class="js2-section-title">
		<div class="title">新闻中心</div>
		<div class="en">news</div>
	</div>
	<div class="items js2-center-1200">
		<% for(let i = 0; i < 4; i++){ %>
			<%= require('@/components/post-item/1/post-item.ejs')() %>
		<% } %>
	</div>
</div>