<div class="c-product-list-1">
	<div class="js2-center-wrap wrap-1280">
		<ul>
			<% for(let i = 0; i < 4; i++){ %>
			<li>
				<a href="#">
					<div class="thumbnail"><img src="${require('@/images/image-placeholder.jpg')}" /></div>
					<div class="post-title js2-text-ellipsis">狗屁不通文章生成器，就是你随便输入一个主题，然后这个生成器可以根据你输入主题的文字，生成一篇文章。</div>
				</a>
			</li>
			<% } %>
		</ul>
	</div>
</div>