.sprite { background-image: url(./sprite.png) }
.sprite-1 { width: 100px; height: 100px; background-position: 0px 0px; }
.sprite-2 { width: 100px; height: 100px; background-position: 0px -102px; }
.sprite-3 { width: 100px; height: 100px; background-position: 0px -204px; }
.sprite-4 { width: 100px; height: 100px; background-position: 0px -306px; }
.sprite-5 { width: 100px; height: 100px; background-position: 0px -408px; }
.sprite-6 { width: 100px; height: 100px; background-position: 0px -510px; }
.sprite-7 { width: 100px; height: 100px; background-position: 0px -612px; }