<div class="c-post-list-10">
	<div class="section-title">推荐内容</div>
	<ul>
		<% for(let i = 0; i < 8; i++){ %>
		<li>
			<a class="post-title js2-text-ellipsis" href="#">狗屁不通文章生成器，就是你随便输入一个主题</a>
			<div>
				<span>浏览次数：2028</span>
			</div>
		</li>
		<% } %>
	</ul>
</div>