<div class="c-post-list-9">
	<ul>
		<% for(let i = 0; i < 4; i++){ %>
		<li>
			<div class="thumbnail"><a href="#"><img src="${require('@/images/image-placeholder.jpg')}" /></a></div>
			<div class="content-wrap">
				<a class="post-title" href="#">狗屁不通文章生成器，就是你随便输入一个主题，然后这个生成器可以根据你输入主题的文字，生成一篇文章。</a>
				<!-- <div class="date">2022-13-14</div> -->
			</div>
		</li>
		<% } %>
	</ul>
</div>