.c-bottom-2 {
	background-color: @font;
	color: @invert;
	padding: 3em 0;
	font-size: .95em;
	line-height: 2;

	a {
		color: @invert;
	}

	.company-info {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		.logo{
			width: 120px;
		}
		.contact{
			text-align:right;
		}
		.qrcode{
			width:82px;
		}
	}
}