<div class="c-bottom-2">
	<div class="js2-center-wrap wrap-1280">
		<div class="company-info">
			<div>
				<div>
					<img class="logo" src="${require('@/images/logo-white.png')}">
				</div>
				<a href="http://beian.miit.gov.cn/" target="_blank">粤ICP备8888888号-1</a>
				<div>Copyright © 2022 广州文化有限公司</div>
				<div>公司地址：广东省，广州市，番禺区，南村镇，板桥大厦808</div>
			</div>
			<div class="contact">
				<img class="qrcode" src="${require('@/images/wechat.jpg')}">
				<div><a href="tel:020-88888888">020-88888888（TEL）</a></div>
				<div><a href="mailto:im@mkinit.com">im@mkinit.com（EMAIL）</a></div>
			</div>
		</div>
	</div>
</div>