<div class="c-post-3">
	<h2 class="title">狗屁不通文章生成器</h2>
	<div class="info">
		<a class="item" href="">分类目录</a>
		<div class="item">
			<span class="dashicons dashicons-calendar"></span>
			<span class="date">2022-13-14 05:20</span>
		</div>
		<span class="item">浏览次数：2028</span>
	</div>
	<div class="content">
		<p>狗屁不通文章生成器，就是你随便输入一个主题，然后这个生成器可以根据你输入主题的文字，生成一篇文章。当然了，这个狗屁不通文章生成器，现在还不太智能，之所以火了，就是因为它不算太智能（因为作者应该不太懂神经网络算法，所以没有加入任何自然语言处理的算法），生成的文章都啰里啰嗦，内容重复，乱七八糟，所以大家感觉好玩就火了。</p>
		<p>狗屁不通文章生成器，就是你随便输入一个主题，然后这个生成器可以根据你输入主题的文字，生成一篇文章。当然了，这个狗屁不通文章生成器，现在还不太智能，之所以火了，就是因为它不算太智能（因为作者应该不太懂神经网络算法，所以没有加入任何自然语言处理的算法），生成的文章都啰里啰嗦，内容重复，乱七八糟，所以大家感觉好玩就火了。</p>
	</div>
	<div class="tag-list js2-margin-top-m">
		标签：
		<a href="">腾讯</a>、
		<a href="">阿里巴巴</a>、
		<a href="">抖音</a>、
		<a href="">google</a>、
		<a href="">快手</a>
	</div>
</div>