<div class="c-pagination-1">
	<div class="js2-center-wrap w1280">
		<a class="page-num" href="#">1</a>
		<a class="page-num" href="#">2</a>
		<a class="page-num" href="#">3</a>
		<span class="page-num current">4</span>
		<a class="page-num" href="#">5</a>
		<a class="page-num" href="#">6</a>
		<a class="page-num" href="#">7</a>
	</div>
</div>