<div class="c-service-2">
	<div class="js2-center-wrap w1280">
		<div class="js2-section-title">
			<div class="title">服务范围</div>
			<div class="desc">our services</div>
			<div class="desc">我们提供交互原型设计、产品视觉设计、网站设计与开发、移动产品设计等相关解决方案</div>
		</div>
		<div class="items">
			<div class="item">
				<img src="${require('./demo-1.png')}">
				<ul>
					<h4>交互原型设计</h4>
					<li>信息架构</li>
					<li>界面布局</li>
					<li>快速原型</li>
					<li>产品原型</li>
					<li>低保真原型</li>
				</ul>
			</div>
			<div class="item">
				<img src="${require('./demo-2.png')}">
				<ul>
					<h4>产品视觉设计</h4>
					<li>视觉设计</li>
					<li>品牌形象</li>
					<li>图标设计</li>
					<li>前端架构及开发</li>
					<li>设计规范与风格指南</li>
				</ul>
			</div>
			<div class="item">
				<img src="${require('./demo-3.png')}">
				<ul>
					<h4>网站设计与开发</h4>
					<li>展示营销网站</li>
					<li>电子商务网站</li>
					<li>前端开发与测试</li>
					<li>品牌网站设计开发</li>
					<li>手机网站/响应式网站</li>
				</ul>
			</div>
			<div class="item">
				<img src="${require('./demo-4.png')}">
				<ul>
					<h4>移动产品设计</h4>
					<li>移动界面设计</li>
					<li>微信公众平台</li>
					<li>html5设计开发</li>
					<li>移动网站设计开发</li>
					<li>iOS/Android界面设计</li>
				</ul>
			</div>
		</div>
	</div>
</div>