<div class="c-culture-1">
	<div class="js2-center-wrap wrap-1280">
		<div class="section-title">
			<div class="title">企业文化</div>
			<div class="desc">company culture</div>
		</div>
		<div class="wrap">
			<div class="item">
				<div class="title">投资风格</div>
				<div class="desc">专注 创新 思辨</div>
			</div>
			<div class="item">
				<div class="title">企业定位</div>
				<div class="desc">专业的募集资金管理机构</div>
			</div>
			<div class="item">
				<div class="title">企业使命</div>
				<div class="desc">打造人与财富 链接的生态圈</div>
			</div>
			<div class="item">
				<div class="title">团队精神</div>
				<div class="desc">友善 创新 卓越 成就</div>
			</div>
		</div>
	</div>
</div>