<div class="c-list-item-1">
	<div class="poster"><img src="${require('./about.png')}" alt=""></div>
	<div class="item-wrap">
		<a class="title" href="#">１元购蚂蚁，跟着马云一起做股一起做股东吧？</a>
		<div class="content">作为全球最大独角兽，蚂蚁上市有望成为今年全球规模最大的IPO。对普通投资者来说，最关心的就是如何能够参与投资。</div>
	</div>
</div>