<header>
	<div class="js2-container-960">
		<h1 class="logo"><img src="${require('../../images/logo.png')}"></h1>
	</div>
	<nav>
		<ul>
			<li><a href="/index.html"><i class="iconfont icon-shouye1"></i>首页</a></li>
			<li><a href="/admin/login.html"><i class="iconfont icon-wode"></i>登录页</a></li>
			<li>菜单是字体图标库的使用示例</li>
		</ul>
	</nav>
</header>