<div class="c-service-3">
	<div class="js2-center-wrap wrap-1280">
		<div class="items">
			<div class="item">
				<div class="icon"><img src="${require('./service-3-1.png')}" /></div>
				<div class="title">策略</div>
				<div class="title-en">STRATEGY</div>
			</div>
			<div class="item">
				<div class="icon"><img src="${require('./service-3-2.png')}" /></div>
				<div class="title">设计</div>
				<div class="title-en">DESIGN</div>
			</div>
			<div class="item">
				<div class="icon"><img src="${require('./service-3-3.png')}" /></div>
				<div class="title">技术</div>
				<div class="title-en">TECHNOLOGY</div>
			</div>
			<div class="item">
				<div class="icon"><img src="${require('./service-3-4.png')}" /></div>
				<div class="title">服务</div>
				<div class="title-en">SERVICE</div>
			</div>
		</div>
	</div>
</div>