<!-- 引用公共头部 -->
<%= require('@/public/header.ejs')({htmlWebpackPlugin}) %>

<div style="padding-left:1em;">
	<h3>图标</h3>
	<a class="item" target="_blank" href="/${htmlWebpackPlugin.options.directory}/iconfont/index.html">字体图标</a>
	<a class="item" target="_blank" href="/${htmlWebpackPlugin.options.directory}/sprite/index.html">精灵图</a>

	<h3>基本页面组件</h3>
	<a class="item" target="_blank" href="/${htmlWebpackPlugin.options.directory}/menu/index.html">菜单</a>
	<a class="item" target="_blank" href="/${htmlWebpackPlugin.options.directory}/banner/index.html">轮播图</a>
	<a class="item" target="_blank" href="/${htmlWebpackPlugin.options.directory}/cover/index.html">顶部横幅</a>
	<a class="item" target="_blank" href="/${htmlWebpackPlugin.options.directory}/crumbs/index.html">面包屑导航</a>
	<a class="item" target="_blank" href="/${htmlWebpackPlugin.options.directory}/post-list/index.html">内容列表</a>
	<a class="item" target="_blank" href="/${htmlWebpackPlugin.options.directory}/product-list/index.html">产品列表</a>
	<a class="item" target="_blank" href="/${htmlWebpackPlugin.options.directory}/post/index.html">内容详情</a>
	<a class="item" target="_blank" href="/${htmlWebpackPlugin.options.directory}/sidebar/index.html">边栏</a>
	<a class="item" target="_blank" href="/${htmlWebpackPlugin.options.directory}/sidebar-tool/index.html">边栏工具</a>
	<a class="item" target="_blank" href="/${htmlWebpackPlugin.options.directory}/friend-link/index.html">友情链接</a>
	<a class="item" target="_blank" href="/${htmlWebpackPlugin.options.directory}/bottom/index.html">底部</a>
	<a class="item" target="_blank" href="/${htmlWebpackPlugin.options.directory}/pagination/index.html">分页</a>

	<h3>商务网站组件</h3>
	<a class="item" target="_blank" href="/${htmlWebpackPlugin.options.directory}/about/index.html">关于我们</a>
	<a class="item" target="_blank" href="/${htmlWebpackPlugin.options.directory}/culture/index.html">公司文化</a>
	<a class="item" target="_blank" href="/${htmlWebpackPlugin.options.directory}/service/index.html">服务/业务</a>
	<a class="item" target="_blank" href="/${htmlWebpackPlugin.options.directory}/client/index.html">合作/客户</a>
	
	<h3>其他组件</h3>
	<a class="item" target="_blank" href="/${htmlWebpackPlugin.options.directory}/guestbook-form/index.html">留言表单</a>
	<a class="item" target="_blank" href="/${htmlWebpackPlugin.options.directory}/login-register-form/index.html">登录注册表单</a>
</div>
<style>
	.item{
		display: inline-block;
		padding:.5em .75em;
		margin:.5em;
		border-radius:8px;
		box-shadow: 0 0 8px #CCC;
	}
</style>
<!-- 引用公共底部 -->
<%= require('@/public/footer.ejs')({htmlWebpackPlugin}) %>