<div class="c-banner-2">
	<div class="swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<img src="${require('../banner-1.jpg')}" />
			</div>
			<div class="swiper-slide">
				<img src="${require('../banner-2.jpg')}" />
			</div>
			<div class="swiper-slide">
				<img src="${require('../banner-3.jpg')}" />
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
</div>