.c-banner-2 {
	position: relative;

	//轮播图分页样式
	.swiper-pagination-bullet {
		background-color: var(--invert);
	}

	.swiper-pagination-bullet.swiper-pagination-bullet-active {
		background-color: var(--primary);
	}

	img {
		width: 100%;
	}
}