<div class="c-bottom-1">
	<div class="js2-center-wrap w1280">
		<div class="bottom">
			<div class="left">
				<div class="slogan">
					<div class="cn">一切皆有可能</div>
					<div class="en">Impossible is nothing</div>
				</div>
				<div class="tel">电话：020-88888888</div>
				<div class="address">地址：广东省，广州市，海珠区，阅江西路222号</div>
			</div>
			<div class="middle">
				<div class="menu">
					<div class="title">品牌研究</div>
					<ul>
						<li><a href="#">行业新闻</a></li>
						<li><a href="#">金融历史</a></li>
						<li><a href="#">专题研讨</a></li>
						<li><a href="#">投资商教育</a></li>
					</ul>
				</div>
				<div class="menu">
					<div class="title">关于我们</div>
					<ul>
						<li><a href="#">公司简介</a></li>
						<li><a href="#">公司目标</a></li>
						<li><a href="#">公司理念</a></li>
						<li><a href="#">公司定位</a></li>
						<li><a href="#">团队介绍</a></li>
					</ul>
				</div>
				<div class="menu">
					<div class="title">其他</div>
					<ul>
						<li><a href="#">联系我们</a></li>
						<li><a href="#">法律声明</a></li>
						<li><a href="#">诚聘英才</a></li>
					</ul>
				</div>
			</div>
			<div class="right">
				<div class="qrcode">
					<img src="${require('@/images/wechat.jpg')}">
					<div>关注公众号</div>
				</div>
				<div class="qrcode">
					<img src="${require('@/images/wechat.jpg')}">
					<div>关注公众号</div>
				</div>
			</div>
		</div>
		<div class="copyright">
			<a href="#">粤公网安备 88888888888888号</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="#">粤ICP备8888888号-1</a>
		</div>
	</div>
</div>