.c-bottom-1 {
	background-color: @second-color;
	color: #FFF;
	padding-top: 4em;

	a {
		color: #FFF;
	}

	.bottom {
		display: flex;
		justify-content: space-between;
		padding-bottom:3em;

		.slogan {
			font-size: 2em;
			font-weight: bold;
			.en{
				font-size:.5em;
				color:@second-font;
				text-transform: uppercase;
				font-weight: normal;
			}
		}

		.tel {
			font-size: 1.125em;
			font-weight: bold;
			margin-top:2em;
		}

		.add {
			color: @second-font;
			font-size: .85em;
		}

		.middle {
			display: flex;

			.menu {
				margin: 0 2em;
				.title{
					font-size:1.125em;
				}

				ul {
					margin-top: 1em;

					li {
						a {
							color: @second-font;
							font-size: .85em;
							line-height: 2em;

							&:hover {
								color: #FFF;
							}
						}
					}
				}
			}
		}

		.right{
			display: flex;
			.qrcode{
				text-align:center;
				&:nth-child(2){
					margin-left:2em;
				}
				img{
					max-width:100px;
				}
			}
		}
	}

	.copyright {
		border-top: 1px solid @second-font;
		padding:1.5em 0;
		font-size:.85em;
		text-align:center;
		color:@second-font;
		a{
			color:@second-font;
		}
	}
}