<div class="c-list-1">
	<div class="js2-center-wrap w1280">
		<div class="js2-section-title">
			<div class="title">新闻中心</div>
			<div class="desc">news</div>
		</div>
		<div class="items">
			<% for(let i = 0; i < 4; i++){ %>
			<%= require('@/components/list-item/1/list-item.ejs')() %>
			<% } %>
		</div>
	</div>
</div>