.c-service-1{
	.items{
		display: flex;
		.item{
			width:320px;
			cursor:pointer;
			&:hover{
				background-color:@link;
				img{
					opacity:.15;
				}
				.item-text{
					color:#FFF;
				}
			}
		}
		.item-text{
			height:20vw;
			max-height:256px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items:center;
			font-weight: bold;
			color:@second-font;
			.title{
				font-size:1.75em;
			}
			.desc{
				font-size:1.5em;
				text-transform: uppercase;
				line-height: 2;
			}
		}
	}
}