<div class="c-service-1">
	<div class="js2-center-wrap wrap-1280">
		<div class="section-title">
			<div class="title">我们的服务</div>
			<div class="desc">our services</div>
		</div>
		<div class="items">
			<div class="item">
				<img src="${require('./service-1-1.jpg')}">
				<div class="item-text">
					<div class="title">品牌缔造</div>
					<div class="desc">brand</div>
				</div>
			</div>
			<div class="item">
				<div class="item-text">
					<div class="title">品牌缔造</div>
					<div class="desc">brand</div>
				</div>
				<img src="${require('./service-1-2.jpg')}">
			</div>
			<div class="item">
				<img src="${require('./service-1-3.jpg')}">
				<div class="item-text">
					<div class="title">品牌缔造</div>
					<div class="desc">brand</div>
				</div>
			</div>
			<div class="item">
				<div class="item-text">
					<div class="title">品牌缔造</div>
					<div class="desc">brand</div>
				</div>
				<img src="${require('./service-1-4.jpg')}">
			</div>
		</div>
	</div>
</div>