<!-- 引用公共头部 -->
<%= require('../public/header.ejs')({htmlWebpackPlugin}) %>

<div class="js2-center-wrap wrap-1280">
	<div class="js2-flex justify-between">
		<div class="js2-column-5 js2-margin-top-l">
			<%= require('@/components/sidebar/1/sidebar.ejs')({htmlWebpackPlugin}) %>
		</div>
		<div class="js2-column-18">
			<div class="js2-margin-top-l">
				<%= require('@/components/guestbook-form/2/guestbook-form.ejs')({htmlWebpackPlugin}) %>
			</div>
		</div>
	</div>
</div>

<!-- 引用公共底部 -->
<%= require('../public/footer.ejs')({htmlWebpackPlugin}) %>