<nav class="c-menu-4">
	<span class="close-btn dashicons dashicons-no-alt"></span>
	<span class="menu-btn dashicons dashicons-menu-alt"></span>
	<div class="logo">
		<h1><a href="/"><img src="${require('@/images/logo.png')}" alt=""></a></h1>
	</div>
	<ul class="menu-list">
		<li class="parent">
			<a href="/">首页</a>
		</li>
		<li class="parent">
			<a href="#">
				父类
				<span class="dashicons dashicons-arrow-down-alt2"></span>
			</a>
			<ul class="sub-menu">
				<li><a href="#">子类</a></li>
				<li><a href="#">子类</a></li>
				<li><a href="#">子类</a></li>
				<li><a href="#">子类</a></li>
				<li><a href="#">子类</a></li>
				<li><a href="#">子类</a></li>
			</ul>
		</li>
		<li class="parent current">
			<a href="#">
				父类
				<span class="dashicons dashicons-arrow-down-alt2"></span>
			</a>
			<ul class="sub-menu">
				<li><a href="#">子类</a></li>
				<li><a href="#">子类</a></li>
				<li><a href="#">子类</a></li>
				<li><a href="#">子类</a></li>
				<li><a href="#">子类</a></li>
				<li><a href="#">子类</a></li>
			</ul>
		</li>
	</ul>
</nav>
<script>
const menu = document.querySelector('.c-menu-4')
const menu_btn = menu.querySelector('.menu-btn')
const menu_close_btn = menu.querySelector('.close-btn')
menu_btn.onclick = () => {
	menu.classList.add('show')
}
menu_close_btn.onclick = () => {
	menu.classList.remove('show')
}
const li_parent_list = menu.querySelectorAll('li.parent')
li_parent_list.forEach(parent => {
	parent.addEventListener('click', () => {
		li_parent_list.forEach(parent => {
			parent.classList.remove('current')
		})
		parent.classList.add('current')
	})
})
</script>