.c-menu-4 {
	position: fixed;
	left: 0px;
	top: 0;
	height: 100vh;
	min-width: 200px;
	text-align: center;
	border-right: 1px solid @border;
	padding: 4em 0;
	transition: all .3s linear;
	background-color: #FFF;
	z-index: 1000;
	line-height: 2.5;
	background-color: @bg;

	&.show {
		left: 0;

		.close-btn {
			display: block;
		}

		.menu-btn {
			display: none;
		}

		.dashicons-arrow-down-alt2 {
			display: block;
		}
	}

	.menu-btn {
		display: none;
	}

	.close-btn {
		display: none;
	}

	.dashicons {
		&:hover {
			color: @secondary;
		}
	}

	.dashicons.close-btn,
	.dashicons.menu-btn {
		font-size: 40px;
		width: 40px;
		height: 40px;
		cursor: pointer;
		position: absolute;
		top: 5px;
		right: 5px;
		z-index: 10;
	}

	.dashicons-arrow-down-alt2 {
		//display: none;
		font-size: 0.875em;
		position: absolute;
		right: 1em;
		top: 50%;
		margin-top: -6px;
		transition: all .5s linear;
	}

	.menu-list {
		a {
			display: block;
			position: relative;
		}

		&>li {

			&>a {
				font-size: 1.025em;
				font-weight: bold;
			}

		}


		.current {
			.sub-menu {
				display: block;
				background-color: rgba(@invert, .3);
				box-shadow: inset 1px 1px 3px @border;
			}

			.dashicons-arrow-down-alt2 {
				transform: rotate(180deg);
			}
		}
	}

	/*二级菜单*/
	.sub-menu {
		display: none;
	}

}