<div class="c-post-list-1">
	<div class="js2-center-wrap w1280">
		<div class="list-title">
			<a href="#">新闻中心</a>
			<div class="description">—— News Center ——</div>
		</div>
		<ul>
			<% for(let i = 0; i < 4; i++){ %>
			<li>
				<div class="thumbnail"><a class="post-title js2-text-ellipsis" href="#"><img src="${require('@/images/image-placeholder.jpg')}" /></a></div>
				<div class="content-wrap">
					<a class="post-title js2-text-ellipsis" href="#">狗屁不通文章生成器，就是你随便输入一个主题，然后这个生成器可以根据你输入主题的文字，生成一篇文章。</a>
					<div class="info">
						<span class="date">2022-13-14 05:20</span>
					</div>
					<div class="summary">
						狗屁不通文章生成器，就是你随便输入一个主题，然后这个生成器可以根据你输入主题的文字，生成一篇文章。当然了，这个狗屁不通文章生成器，现在还不太智能，之所以火了，就是因为它不算太智能……
					</div>
				</div>
			</li>
			<% } %>
		</ul>
		<div class="bottom">
			<a class="js2-btn" href="#">查看更多新闻</a>
		</div>
	</div>
</div>