<!-- 引用公共头部 -->
<%= require('@/public/header.ejs')({htmlWebpackPlugin}) %>
<span class="sprite sprite-1"></span>
<span class="sprite sprite-2"></span>
<span class="sprite sprite-3"></span>
<span class="sprite sprite-4"></span>
<span class="sprite sprite-5"></span>
<span class="sprite sprite-6"></span>
<span class="sprite sprite-7"></span>
<!-- 引用公共底部 -->
<%= require('@/public/footer.ejs')() %>