<div class="c-guestbook-form-1 js2-section">
	<div class="form">
		<div class="item">
			<div class="input-title">怎么称呼您？</div>
			<input class="input-name" type="text" placeholder="请输入您的姓名" />
		</div class="item">
		<div class="item">
			<div class="input-title">可以只填联系电话</div>
			<input class="input-email" type="text" placeholder="请输入您的电子邮箱" />
		</div class="item">
		<div class="item">
			<div class="input-title">怎么联系您？</div>
			<input class="input-phone" type="text" placeholder="请输入您的联系电话" />
		</div class="item">
		<div class="item content">
			<div class="input-title">您的需求？</div>
			<input class="input-content" type="text" placeholder="请描述您的需求" />
		</div class="item">
		<div class="item button">
			<button class="btn-submit">提交留言</button>
		</div>
	</div>
</div>