<!-- 引用公共头部 -->
<%= require('@/public/header.ejs')({htmlWebpackPlugin}) %>

<div style="padding-left:1em;">
	<p>菜单示例：<a target="_blank" href="/demo/menu.html">/demo/menu.html</a></p>
	<p>banner示例：<a target="_blank" href="/demo/banner.html">/demo/banner.html</a></p>
	<p>关于我们示例：<a target="_blank" href="/demo/about.html">/demo/about.html</a></p>
	<p>公司文化示例：<a target="_blank" href="/demo/culture.html">/demo/culture.html</a></p>
	<p>友情链接示例：<a target="_blank" href="/demo/friend-link.html">/demo/friend-link.html</a></p>
	<p>分页示例：<a target="_blank" href="/demo/pagination.html">/demo/pagination.html</a></p>
	<p>公司业务示例：<a target="_blank" href="/demo/service.html">/demo/service.html</a></p>
	<p>底部示例：<a target="_blank" href="/demo/bottom.html">/demo/bottom.html</a></p>
</div>

<!-- 引用公共底部 -->
<%= require('@/public/footer.ejs')() %>