<!-- 引用公共头部 -->
<%= require('@/public/header.ejs')({htmlWebpackPlugin}) %>

<div style="padding-left:1em;">
	<h3>组件示例</h3>
	<a class="item" target="_blank" href="/demo/iconfont.html">字体图标</a>
	<a class="item" target="_blank" href="/demo/sprite.html">精灵图</a>
	<a class="item" target="_blank" href="/demo/menu.html">菜单</a>
	<a class="item" target="_blank" href="/demo/banner.html">轮播图</a>
	<a class="item" target="_blank" href="/demo/cover.html">顶部横幅</a>
	<a class="item" target="_blank" href="/demo/crumbs.html">面包屑导航</a>
	<a class="item" target="_blank" href="/demo/guestbook-form.html">留言表单</a>
	<a class="item" target="_blank" href="/demo/about.html">关于我们</a>
	<a class="item" target="_blank" href="/demo/culture.html">公司文化</a>
	<a class="item" target="_blank" href="/demo/friend-link.html">友情链接</a>
	<a class="item" target="_blank" href="/demo/pagination.html">分页</a>
	<a class="item" target="_blank" href="/demo/service.html">公司业务</a>
	<a class="item" target="_blank" href="/demo/bottom.html">底部</a>
	<a class="item" target="_blank" href="/demo/post-list.html">内容列表</a>
	<a class="item" target="_blank" href="/demo/product-list.html">产品列表</a>
	<a class="item" target="_blank" href="/demo/post.html">内容详情</a>
	<a class="item" target="_blank" href="/demo/sidebar.html">边栏</a>
	<a class="item" target="_blank" href="/demo/sidebar-tool.html">边栏工具</a>
</div>
<style>
	.item{
		display: inline-block;
		padding:.5em .75em;
		margin:.5em;
		border-radius:8px;
		box-shadow: 0 0 8px #CCC;
	}
</style>
<!-- 引用公共底部 -->
<%= require('@/public/footer.ejs')() %>