<!-- 引用公共头部 -->
<%= require('@/public/header.ejs')({htmlWebpackPlugin}) %>

<div style="padding-left:1em;">
	<p>菜单示例：<a target="_blank" href="/demo/menu.html">/demo/menu.html</a></p>
	<p>banner示例：<a target="_blank" href="/demo/banner.html">/demo/banner.html</a></p>
	<p>关于我们示例：<a target="_blank" href="/demo/about.html">/demo/about.html</a></p>
</div>

<!-- 引用公共底部 -->
<%= require('@/public/footer.ejs')() %>